[2020-03-18 13:59] julmon commented on #691
Could you send me temboard and postgres logs at julmon@gmail.com please ?

[2020-03-20 11:01] l00ptr opened #693 "Add users management API"
Hello,

It could be  nice to have an API to manage (Create, Read, Update, Delete)  the temboard (and agent) users. The idea is to be able to manage users for those who don't use a centralized idm backend (LDAP or other centralized user source) .

[2020-03-23 08:08] dlax commented on #690
Do we want the plugin to be enabled by default in the agent?

[2020-03-24 11:05] daamien opened #700 "Backup Plugin"
Here's a few idea for a backup plugin :

- [ ] Display the list of local backups for a given PostgreSQL instance
- [ ] Download a backup file from the UI (with limit or warning when the file is too big)
- [ ] Support pg_back  backup formats
- [ ] Support pg_backrest ?

For each agent, the user would have to provide the backup folder and the name of the backup software..

[2020-03-24 11:14] daamien opened #701 "LDAP Authentification"
- [ ] Temboard UI administrators can choose the authentification mode for a given user
- [ ] Temboard UI administrators can define an LDAP authentification server
- [ ] Temboard UI administrators can create new users and "map" them to an LDAP user. If no LDAP role is provided, the same username is used for Temboard and for LDAP.
- [ ] Temboard UI administrators can modify and existing user and cha

[2020-03-24 11:25] daamien opened #702 "Read-Only mode for some users"
For some PostgreSQL users, such as developpers or data analysts, it is interesting to have a view on the database activity and the ressource usage. However they should not be able to triggers actions on the PG instances

- [ ] Temboard UI Administrators can declare that a given user is in "Read-Only" mode
- [ ] Read-Only users cannot use the "Terminate" button in the Activity plugin
- [ ] Read-Onl

[2020-03-24 14:41] julmon commented on #690
Yes, please.

[2020-04-01 14:05] bsislow opened #1018 "Consideration: Integrate pg_show_plans Into Activity Page"
Consider integrating this functionality into the agent page under Activity so we can drill down and see the plan of active sessions:

https://github.com/cybertec-postgresql/pg_show_plans

[2020-04-08 13:49] #403 closed

[2020-04-15 10:06] julmon opened #719 "Debian packages for buster"
It seems we forgot them.

- [x] UI
- [x] agent

[2020-04-17 12:14] l00ptr opened #724 "Agents version into the web interface"
Hello,

Some information about the agents are missing into the web interface. For each agent it could be great to see the version - not the version of postgres - but the version of the temboard-agents.

With the possibility to mix temboard-agent v4 & temboard-agent v5, this feature will help me to identify what I still need to upgrade or not. (It will stay usefull if the temboard server keeps the

[2020-04-22 06:38] l00ptr opened #727 "Event timestamp and duration into email notification"
When an alerting notification is sent, the timestamp of the event is not shown into the email. On the same topic, It would be nice to have the duration of the event into the recovery notification.

I can see more than one usecase where those information could be usefull :

  - when you process your notifications with a ticketing system (you get all information embedded into the noification and you

[2020-04-22 07:28] l00ptr opened #728 "Bulk edit servers"
Hi,

Currently it's not possible to edit a bunch of servers in one operation. If a user wants to edit more than one instance / server (Eg : add instances to a group, enable / disable some plugins, enable / disable notifications) it's painful - you have to do it instance by instance. It could be nice to add a way to bulk edit the monitored instances.

[2020-04-22 07:45] l00ptr commented on #701
Common (basic) SSO solution use both LDAP backend and HTTP header "REMOTE_USER". So i think it could be great to think about  using / reading HTTP header when  implementing feature.

[2020-04-27 06:41] pgiraud opened #730 ""dark" theme"
Allow user to switch from "light" (regular) theme to "dark".

[2020-04-27 06:48] pgiraud opened #731 "Easy selection of one metric in the monitoring charts"
Currently, it's a bit painful for users to show only one metric (for example one FS) in the monitoring charts especially when there are a lot of metrics.
For example, we could provide a way to "select/unselect all".
Other options may also exist.

[2020-04-27 14:42] orgrim opened #732 "Allow loading external plugins"
Hello,

The agent can load plugins installed using entrypoints, but the UI cannot.

Since the loading of plugins from entrypoints comes from the toolkit, shared by both the agent and the ui, it could be possible to make both legacy plugins from the plugins/ directory and external plugins.

See PR #729

Regards

[2020-04-28 06:49] damienreyre commented on #675
Hi,
Any news about this feature for temBoard ??
Cheers,

[2020-05-04 09:25] missmoiselle commented on #675
Hi,
We've just decided what will be included in the next temBoard release (planned before summer) and it will not be part of it.
However, as the request is relevant we keep it in mind for future versions.
Tks again,

[2020-05-07 14:23] ced75 opened #736 "Upgrade Temboard 4.1 to 5.1 on Debian Stretch issue"
Hi,

I'm trying to upgrade my Temboard server from 4.1 to 5.1 using the Debian packages.
But the package install raises the following error:

dpkg: erreur de traitement de l'archive /var/cache/apt/archives/temboard_5.1-0dlb1stretch1_amd64.deb (--unpack) :
 impossible d'ouvrir « /usr/lib/temboard/lib/python2.7/site-packages/sqlalchemy/sql/schema.py.dpkg-new »: Opération non permise
Des erreurs ont

[2020-05-11 10:02] l00ptr commented on #736
Hi ced75,

Could you provide some information about your system ? Coud you add the output of the following commands to this issue (without those info we can't help you):

[code]

[code]

[code]

Could you tell if the /usr/lib/temboard  dir exist ? If this is the case, please could you share the result of this command :
[code]

Best regards,
L.

[2020-05-11 10:47] ced75 commented on #736
Hi,

Thanks for your help.
Here are some additional informations about my system:

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.12 (stretch)
Release:	9.12
Codename:	stretch

Entrées par défaut pour admin sur inv-monitor :
    env_reset, mail_badpass, secure_path=/usr/local/sbin\:/usr/local/bin\:/usr/sbin\:/usr/bin\:/sbin\:/bin

L'utilisateur admin peut utiliser les commandes suivantes su

[2020-05-11 10:50] ced75 commented on #736
It seems that the upgrade worked this morning.
I don't know what happened last week.

Sorry for the disturbance and once again thanks for help.

Cedric

[2020-05-11 11:20] bersace commented on #736
Pas de soucis. Je ferme.

[2020-05-11 11:20] #736 closed

[2020-05-11 16:56] Krysztophe opened #738 "Error message in Configuration : Error local variable 'categories' referenced before assignment"
This message appears in a big red scary box when I change the value `autovacuum_vacuum_threshold` from the Configuration. The value is correctly set in `postgresql.auto.conf` but the configuration reload is not done.

The problem appears for some parameters, most are okay. I could reproduce the problem with a few other parameters from the Autovacuum category. There is no error when I click on 'Res

[2020-05-12 07:34] Krysztophe commented on #738
[code]

[2020-05-13 07:32] dgiffin opened #739 "Upgrade monitored PG cluster - actions required?"
If I upgrade a PG cluster that temboard is monitoring what (if any) actions do I need to take for temboard to continue to be able to monitor it?

[2020-05-13 15:22] bersace commented on #739
Hi @dgiffin Ensure you run latest temBoard release to have support for latest Postgres releases.

[2020-05-14 15:04] bersace commented on #724
cf. #672

[2020-05-15 06:51] #738 closed

[2020-05-15 07:05] pgiraud commented on #685
@wsescu sorry for the late answer.
For PG12 support, you need to run a rather recent version of temboard agent. At least 4.2 but I would recommend 5.1.
Monitoring and maintenance plugins should work.
However, we've been told about an issue with the configuration plugin recently. It has been fixed.
We intend to release a new version with the full support for PG12 and some other stuff soon.

[2020-05-15 07:05] #685 closed

[2020-05-15 08:10] bersace commented on #2
Should be done now. Closing.

[2020-05-15 08:10] #2 closed

[2020-05-15 08:12] bersace commented on #260
Updates ?

[2020-05-15 08:13] bersace commented on #338
Closing stale issue. Please reopen if updates !

[2020-05-15 08:13] #338 closed

[2020-05-15 08:15] bersace commented on #533
Closing stale issue. Please reopen if updates.

[2020-05-15 08:15] #533 closed

[2020-05-15 08:17] bersace commented on #651
Closing.

[2020-05-15 08:17] #651 closed

[2020-05-15 08:31] bersace commented on #732
Closed by #735

[2020-05-15 08:31] #732 closed

[2020-05-15 08:34] bersace commented on #744
Closing. Please reopen with updates.

[2020-05-15 08:34] #744 closed

[2020-05-15 08:35] bersace commented on #653
Closing stale issue. Please reopen with updates from latest release.

[2020-05-15 08:35] #653 closed

[2020-05-26 11:09] bsislow opened #748 "Filter Out Specific File Systems for "File systems usage" Check"
We have a NFS backup filesystem that is mounted on every PostgreSQL host that we have. Over the weekend it exceeded the warning threshold in temboard and now the main UI dashboard shows **all** hosts in an overall "warning" state. This is a bit of a false alarm at a glance and we are wondering if an enhancement can be added where we can filter one or more file systems based on names or patterns ag

[2020-05-26 12:59] bersace commented on #748
Hi Bob, that's a good catch.

No worry. GitHub allows us to transfer issue from one project to another if needed.

[2020-05-29 14:08] pgiraud commented on #679
Hi @jgballester
Sorry for the very late response. It looks like we missed your message.
It looks like the temboard agent you're trying to get maintenance data from is not recent enough and doesn't have the plugin `maintenance` or that the plugin is not activated for this agent.

[2020-05-29 14:16] #636 closed

[2020-05-29 14:17] jgballester commented on #679
Hello @pgiraud
Yes sorry I forgot to close the issue. "maintenance" was missing in the list of plugins in the agent.conf. My bad ...

[2020-05-29 14:17] #679 closed

[2020-05-29 14:19] pgiraud commented on #679
OK, thanks. The UI should tell it by the way. cf. https://github.com/dalibo/temboard/issues/615

[2020-05-29 14:19] #677 closed

[2020-06-04 02:03] bsislow opened #750 "temboard UI 5.1 - delete instance does nothing"
Running:
temboard-5.1-1.el7.noarch

When deleting an instance, nothing happens in the UI:

![image](https://user-images.githubusercontent.com/30243584/83706605-88d16080-a5dd-11ea-86b4-2b19c555665a.png)

The instance to be deleted was upgraded to PG 12 from 9.6. I cannot figure out a better way than to delete the instance from temboard and redeploy it... just to change the PGDATA! **How come we can

[2020-06-04 06:29] pgiraud commented on #750
If the information about an instance has changed (version, pg_data, etc.) you could simply click the edit button then save (without modifying anything). TemboardUI will retrieve data from the agent corresponding to the host and port. The PGDATA should update itself automatically. It is not meant to be modified manually.

For your problem with deletion, I can't reproduce for now. I need some more h

[2020-06-04 06:52] pgiraud commented on #750
It looks like I got the same error running SQLAlchemy 0.9.8. With a more recent version of SQLAlchemy the problem doesn't happen.
Can you please tell us which version of SQLAlchemy temBoard is using?
[code]

[2020-06-04 07:34] pgiraud commented on #750
```temboard --version``` should also give information about the versions of temboard or dependencies in an even easier way.

[2020-06-04 11:24] bsislow commented on #750
this comes back with nothing:

[code]

we don't have `pip` installed:

[code]

Clicking edit and then save in UI does nothing but clear the PGPORT (says "None" now). The PGDATA or version does not change.

There is only one cluster/instance on this host.

If you need more detail, I can always email anything specific to avoid posting secure information here.

[2020-06-04 11:31] bsislow commented on #750
i have output for this now; this was an issue on our end:

[code]

[2020-06-08 09:31] #750 closed

[2020-06-08 09:32] pgiraud commented on #750
@bsislow the bug has been fixed. Thanks for the report.
A new version of temboard will be released in the next days.

[2020-06-11 14:48] orgrim opened #759 "Unable to remove instance"
Hi,

After restarting many times some agents and the server, I can no longer remove an agent from the webui. The modal stays and the server reports this HTTP 500 error in the logs:

[code]

Deletion is not cascaded inside the ORM, because no SQL statements are issued to the repository.

A quick search on the message from sqlalchemy and this patch corrects the issue:

[code]

[2020-06-11 14:53] pgiraud commented on #759
Already fixed via https://github.com/dalibo/temboard/pull/754

[2020-06-11 14:53] #759 closed

[2020-06-12 13:30] bsislow commented on #750
hello - can you update this case when the bug is fixed and/or how do we know the new version is released? thanks.

[2020-06-12 13:55] bersace commented on #750
@bsislow yep ! 6.0 is coming monday !

[2020-06-12 17:04] bsislow commented on #750
great thank you!

[2020-06-15 10:17] bersace commented on #750
Hi Bob. 6.0 is available at yum.dalibo.org/labs now ! Please read https://temboard.readthedocs.io/en/v6/CHANGELOG/ first !

[2020-06-15 11:44] wsescu opened #762 "ERROR: Unhandled error -> After Upgrade from Version 5 to Version 6"
Hello temBoard Team

after upgrading from temBoard Version 5 to Version 6, I do get the following error:

[code]

Could you please help?

I just followed the upgrade instructions, and now it looks broken.

- Have stopped temBoard

- Run the script: temboard-migratedb stamp (It atuomatically created table alembic_version)

- Started temBoard

Best regards
William

[2020-06-15 11:54] pgiraud commented on #762
Thanks for report.
Can you please tell us what the following command returns ?
[code]

[2020-06-15 11:55] wsescu commented on #762
Sure. It is:

$ temboard --version
 INFO: Starting temboard 6.0.
temBoard 6.0
System Red Hat Enterprise Linux Server 7.8 (Maipo)
Python 2.7.5 (/usr/bin/python)
psycopg2 2.5.1 (dt dec pq3 ext)
Tornado 4.2.1
SQLAlchemy 0.9.8
alembic 0.8.3

[2020-06-15 11:56] wsescu commented on #762
I have observed, that the table alembic_version was created in the public schema. Is that correct?
Shouldn't it be in the "application" schema?

[2020-06-15 11:58] pgiraud commented on #762
That's correct. The issue is in my opinion related to the version of alembic.

[2020-06-15 12:12] wsescu commented on #762
I do have alembic version 0.8.3-3.el7

I have upgrade to temBoard 6 with the following command, and alembic was pulled from the EPEL.

Is the alembic version 0.8.3 not the correct one? Which version should I use?

$ sudo yum localupdate temboard-6.0-1.el7.noarch.rpm

Loaded plugins: enabled_repos_upload, langpacks, package_upload, product-id, search-disabled-repos, subscription-manager
Examining t

[2020-06-15 12:32] bersace commented on #762
Hi @wsescu thanks for the quick report ! A bugfix release 6.1 (for UI only) is available. Can you test it ?

[2020-06-15 12:33] wsescu commented on #762
Thank you very much. Will test it immediately.

[2020-06-15 12:44] wsescu commented on #762
Thanks @bersace

After upgrading to Version 6.1, it works perfectly.

Thank you very much for the quick fix.

[2020-06-15 12:45] bersace commented on #762
Thanks for the quick feedback ! @wsescu . Closing :-)

[2020-06-15 12:45] #762 closed

[2020-06-16 08:34] wsescu opened #765 "ERROR: Could not send mail; getaddrinfo() argument 2 must be integer or string"
Dear temBoard Team

since the upgrade from temBoard 4.x to 5.x, I do get the following error, whenever a email is send by temBoard.
With temBoard 6.1, I still have the same issue. With temBoard 4.x it used to work perfectly.

[code]

[code]

These are my temBoard configuration settings:

[code]

However, when I send an email via the mail command, it works perfectly.

`echo test | mail -s test -r p

[2020-06-16 09:11] bersace commented on #765
Hi @wsescu . Thanks for the report. I'm investigating.

[2020-06-16 09:18] bersace commented on #765
I reproduced. I'm working on a fix.

[2020-06-16 09:21] wsescu commented on #765
Thank you @bersace for working on the fix

[2020-06-16 09:27] bersace commented on #765
@wsescu What if you unset `smtp_port` and *empty* `smtp_tls` ?

[2020-06-16 09:34] bersace commented on #765
@wsescu yes.

[2020-06-16 09:38] wsescu commented on #765
If I try to send a test email with the new settings, I do get the following error:

2020-06-16 11:36:59,075 temboardui[13118]: [web] ERROR: Request failed: 500 Could not send mail; SMTP AUTH extension not supported by server.
2020-06-16 11:36:59,075 temboardui[13118]: [web] ERROR: SMTP server may be misconfigured..
2020-06-16 11:36:59,077 temboardui[13118]: [access] ERROR: 500 POST /json/test_emai

[2020-06-16 09:42] bersace commented on #765
@wsescu try to unset `smtp_login` and `smtp_password` instead of setting them to `None`. There is no `None` in `temboard.conf`. Did you found this value somewhere in documentation ?

[2020-06-16 09:47] wsescu commented on #765
Yes. In the docs it says that the default is None

https://temboard.readthedocs.io/en/v6/configuration/

This section groups SMTP and Twilio parameters to send notifications.

smtp_host SMTP host. Default: None
smtp_port SMTP port. Default: None
smtp_tls Enable TLS connexion. Default: False
smtp_login SMTP login. Default: None
smtp_password SMTP password. Default: None
smtp_from_addr SMTP from add

[2020-06-16 09:50] wsescu commented on #765
After changing the values, I still get the same error, when I send a test notification

[code]

[2020-06-16 09:50] bersace commented on #765
Hm, this is misleading. `None` here means empty.

[2020-06-16 09:55] bersace commented on #765
Please test like this :

[code]

[2020-06-16 10:24] wsescu commented on #765
After changing the config file to the following values, it works:

[code]

Thanks a lot @bersace

[2020-06-16 10:25] bersace commented on #765
Great. Still, I have some fixes to make this easier !

[2020-06-16 10:26] wsescu commented on #765
At least to me, the documentation is a little misleading. ;-)

[2020-06-17 06:49] wsescu opened #769 "Activity : idle in transaction is marked as bold red"
Dear temBoard Team

since the upgrade to temBoard Version 6.1 I see all the time a idle in transaction. The host meantioned in the SQL is always the temBoard monitoring instance itself.

[code]

I have set the parameter idle_in_transaction_session_timeout = 120000 on the temBoard instance, however, this is only a workaround and does not fix the issue itself.

Would be cool if you could advise how

[2020-06-17 06:51] wsescu commented on #769
![image](https://user-images.githubusercontent.com/54099545/84864907-a986c500-b077-11ea-8a27-83e99e7e5991.png)

[2020-06-17 07:43] bersace commented on #769
Hi @wsescu do you known which page of temBoard UI triggers this query ? It looks like it's temBoard homepage.

[2020-06-17 07:50] bersace commented on #769
No, it looks like a simple call to `get_instance()`

[2020-06-17 07:51] bersace commented on #769
@wsescu can you send us logs ?

[2020-06-17 08:14] wsescu commented on #769
I have no idea which UI page triggers this query. The only thing I have observed, is that the hostname in the SQL which is idle in transaction, always is the temBoard monitoring host itself.
What logs do you need, the Agent or the Server logs.

[2020-06-17 08:25] bersace commented on #769
I got it !

[2020-06-17 08:28] bersace commented on #769
@wsescu I don't have long idled transactions. The PID is changing and time is still low as 0.15s. Do you have the same behaviour ?

[2020-06-17 08:29] bersace commented on #769
It looks like it's just the Activity tab that is querying temboard database when refreshing the view. Can you details any issue other than this *idle in transaction* line appearing ?

[2020-06-17 08:29] bersace commented on #769
Maybe should temBoard not mark as read a transaction idle for less than 1s.

[2020-06-17 08:32] wsescu commented on #769
Yes. You are right. The PID is changing all the time. I did not notice that beforehand. However, it is always the same query.

[2020-06-17 08:40] wsescu commented on #769
Yes. That would be a good idea. Else you would see always idle in transactions, which is very confusing.

[2020-06-17 08:49] wsescu opened #770 "ERROR: Failed to parse JSON from Postgres: No JSON object could be decoded"
Hello temBoard Team

whenever I click in the UI on "Status / Rollbacked transactions", I see the following error message in the temboard.log file.

[code]

Best regards
William

[2020-06-17 09:08] bersace commented on #769
@wsescu We have identified this misleading information and we'll fix this for a following major release, along other improvements on UX of this page.

[2020-06-17 09:12] bersace commented on #770
Hi @wsescu I can't reproduce this. Can you give some informations about the instance ? How long was it registered ? Do you have this on any agent ? Waht version of PostgreSQL is hosting temBoard repository ? Thanks.

[2020-06-17 09:16] wsescu commented on #770
It affects the temBoard monitoring instance itself, which is running PostgreSQL version 12.3
temBoard is 6.1 and the Agent is 6.0
I can reproduce this issue any time.

[code]

[2020-06-17 09:18] wsescu commented on #770
The instance is registered at least since 9 months. Since I started with temBoard, which is a very cool product, by the way.

[2020-06-17 09:22] bersace commented on #770
Thanks @wsescu  :-)

What is the content of `monitoring.state_changes` table in temBoard repository ?

[2020-06-17 09:26] wsescu commented on #770
The state_changes table has currently 32148 rows. Is there anything specific I should look for?

(postgres@[local]:58888)[temboard]> select count(*) from monitoring.state_changes;
 count
-------
 32148
(1 row)

[2020-06-17 09:28] bersace commented on #770
@wsescu can you post here logs from `GET /server/...` line up to error ?

[2020-06-17 09:33] wsescu commented on #770
Sure, here is the part of the log. (I have changed the hostname and IP in the log)

[code]

[2020-06-17 10:01] bersace commented on #770
@wsescu Please adapt the following query and post the output :

`mon.company.ch` should be good. But 5432 may change.

[code]

[2020-06-17 10:11] wsescu commented on #770
The quey returned 0 rows. ( I have adapted the host and port beforehand)

[code]

[2020-06-17 10:23] wsescu commented on #770
If I go back in time from 01 January until now, I do get 154 rows

[code]

[2020-06-17 10:26] bersace commented on #770
What is the output of (please adapt hostname and port lines)

[code]

[2020-06-17 10:26] wsescu commented on #770
From my point of view, the temBoard instance has a lot of rollbacked transactions anyway. I have already increased the thresholds to 512/698, which is very high.

![image](https://user-images.githubusercontent.com/54099545/84887142-a39fdc80-b095-11ea-8cd3-10fcd17ec180.png)

[2020-06-17 10:29] bersace commented on #770
I'm not sure what are these rollback about. I need to add logs about that.

[2020-06-17 10:33] bersace commented on #770
Ok, i reproduced !! :-)

[2020-06-17 10:33] bersace commented on #770
Actually, these errors are safe to ignore. It's just means that there is not state changes for the days. We need to chase such false error. Thanks !

[2020-06-17 14:34] bsislow opened #771 "temboard-migratedb Upgrade Results in "ERROR: ProgrammingError: (InvalidSchemaName) no schema has been selected to create in""
We are running this step before we start the upgraded temboard UI and it fails:

[code]

[2020-06-17 14:48] bsislow commented on #771
Perhaps the repository schema is needed? I don't see this in our temboard database...

[code]

[2020-06-17 14:48] bersace commented on #771
Hmm, we should put alembic table in `application` schema. Instead, we rely on public.

That's not easy to change now :/

[2020-06-17 14:53] bsislow commented on #771
I figured out a workaround; we prefer to not have anything in public; in fact, we typically drop public immediately after creating databases. We see it as a security risk.

[code]

[2020-06-17 15:19] bsislow commented on #771
We have a temboard login role but no schema. I forced temboard-migratedb to use the search_path result of application in this case...

Does this answer your question? I'm not sure it does...

[2020-06-17 15:21] bersace commented on #771
Where does `temboard` schema come from ?

[2020-06-17 15:25] bsislow commented on #771
There actually is no temboard schema in our environment; I updated the search_path to simply read:

[code]

[2020-06-17 15:25] bersace commented on #771
@bsislow Yes, that's a good workaround. Still, i think temBoard should not use public.

[2020-06-17 16:16] bsislow commented on #771
i agree. i will close this and would recommend upgrading documentation as you see fit. thanks.

[2020-06-19 09:00] ced75 opened #774 "Upgrade to 6.1 from 5.0 : temboard-migratedb fails"
Hi,

I'm trying to ugrade my temboard server from 5.0 to 6.1.
After the apt upgrade, the temboard service does not restart.
The error message indicates that Database is not up to date. Please use temboard-migratedb.

Then I try to execute temboard-migratedb with the following command:
sudo temboard-migratedb stamp

But I get a new error message:
CRITI: Failed to query Postgres server: (psycopg2.Op

[2020-06-19 09:05] bersace commented on #774
Salut @ced75

Which user is running temboard service ? What is the output of `sudo DEBUG=y temboard-migratedb stamp` ?

[2020-06-19 09:20] ced75 commented on #774
Salut @bersace

I think it is my admin user that should be the owner of temboard service, but I don't know how to check it since the service is down.

[2020-06-19 09:22] bersace commented on #774
@ced What about `systemctl cat temboard` ?

[2020-06-19 09:46] bersace commented on #774
Ok then try `sudo -u temboard temboard-migratedb stamp`

[2020-06-19 09:50] ced75 commented on #774
Yes, that did it!
Thanks a lot.
The documentation should perhaps be updated to avoid the same problem. What do you think about it?

[2020-06-19 09:51] bersace commented on #774
@ced75 agree, we should state to run temboard-migratedb as same user as temboard service.

[2020-06-19 09:57] ced75 commented on #774
Thanks again, TemBoard server is up again.
The agent upgrade works fine.

[2020-06-19 10:42] ced75 opened #775 "Invalid key after 6.0 upgrade"
Sorry, I have a new problem with v6.0 migration.

I upgraded the TemBoard agent on all my Postgres server.
For one server, in TemBoard interface, I get an "invalid key".
But the key in the configuration tool seems to be OK.

On the server, I tried to purge the agent with the purge.sh script mentionned in the documentation.
But there is no purge.sh script, on my server, neither in /usr/share/temboa

[2020-06-19 11:22] bersace commented on #775
Salut,

key is in /etc/temboard-agent/XX/

Something like

[code]

[2020-06-19 11:24] bersace commented on #774
Je rouvre pour mettre à jour la doc.

[2020-06-19 11:26] bersace commented on #775
Right, purge.sh is missing. Avoid running purge unless you really want to lost all history of an agent.

[2020-06-19 11:51] ced75 commented on #775
In the config file, the key is SECRETKEYTOBECHANGED, curiously...
I tried to modify the key in Temboard interface to "SECRETKEYTOBECHANGED", but it did not work.
I also tried to put the old key in the /etc/temboard-agent/11/main/temboard-agent.conf file in place of SECRETKEYTOBECHANGED, then I restarted temboard-agent service.
But I still get the same "invalid key" error in Temboard interface for

[2020-06-19 11:54] ced75 commented on #775
OK... I have found it.
The right config file is in /etc/temboard-agent/11/main/temboard-agent.conf.d/auto.conf.
Here is the rigth key.

It worked.

Thanks for your help again.
I think it is OK for me today.

Cedric

[2020-06-19 13:13] bersace commented on #775
@ced75 does your temboard-agent.cont talk about auto.conf in the header. We should make this more explicit.

[2020-06-19 13:16] ced75 commented on #775
How can I find this information?

[2020-06-19 13:24] bersace commented on #775
[code]

[2020-06-19 13:30] ced75 commented on #775
OK. Thanks.
It does not:

[code]

[2020-06-19 13:32] bersace commented on #775
ok, that may be an old setup.

[2020-06-19 13:36] ced75 commented on #775
Sure, I'm upgrading temboard agent on these servers since version 3.x.

[2020-06-22 06:27] pgiraud commented on #299
See also #666

[2020-06-22 06:27] pgiraud commented on #666
Duplicate of #299. Closing.

[2020-06-22 06:27] #666 closed

[2020-06-22 06:29] pgiraud commented on #667
Would a generic "comment" field do the job?

[2020-06-22 06:41] wsescu commented on #667
Hello @pgiraud
yes, from my point of view, a generic comment field would do the job perfectly.
Cheers
William

[2020-06-22 06:51] pgiraud commented on #719
@bersace Can you please confirm that this is done? Please close this issue if it is the case.

[2020-06-22 07:01] pgiraud commented on #691
It looks like this issue is not relevant anymore. @bsislow please reopen if it's not the case.

[2020-06-22 07:01] #691 closed

[2020-06-22 07:09] pgiraud commented on #739
You may need to go the settings section in temBoard interface, pretend you want to edit the instance then save without changing anything. TemBoard will make sure to retrieve the new information from the agent. After that the PG version should be up-to-date.

See #666

[2020-06-22 07:09] #739 closed

[2020-06-22 07:10] pgiraud commented on #748
Duplicate for #612

[2020-06-22 07:10] #748 closed

[2020-06-22 07:11] #765 closed

[2020-06-22 07:13] #774 closed

[2020-06-22 14:50] jeanloesch opened #777 "Cannot start temboard service under CentOS 7.6"
Hi,

After installing temboard-6.0-1.el7.noarch and starting the service, the command "systemctl status temboard" command showed this error :
[code]

Here are messages from journalctl -xe command
[code]

Do you know what is going wrong ?

Thank you for your help.

[2020-06-23 06:21] pgiraud commented on #777
This may be the same issue as reported in https://github.com/dalibo/temboard/issues/762
Can you please try to install temboard 6.1?

[2020-06-23 13:38] jeanloesch commented on #777
Hi,

Temboard 6.1 is installed.
rpm -qa|grep -i temb
temboard-6.1-1.el7.noarch

The service is now running. However there are error messages :
systemctl status temboard
● temboard.service - temBoard Web UI
   Loaded: loaded (/usr/lib/systemd/system/temboard.service; enabled; vendor preset: disabled)
   Active: active (running) since mar. 2020-06-23 15:30:07 CEST; 4s ago
 Main PID: 26710 (temboard)

[2020-06-23 13:51] pgiraud commented on #777
Can you please have a look at https://github.com/dalibo/temboard/issues/775 ?

Yes temboard agents > 6.0 are compatible with temboard 6.1.

[2020-06-24 12:01] #719 closed

[2020-06-25 12:16] pgiraud commented on #777
@jeanloesch did you manage to get it working? Can we close the issue?

[2020-06-25 15:59] jeanloesch commented on #777
Hi,

I took a look at #775 but it is not related to the installation on the server but rather the agent.

[2020-06-26 06:50] pgiraud commented on #777
Can you please go to the settings page for this instance and make sure there's a value for "Agent secret key"?

[2020-06-26 08:40] jeanloesch commented on #777
Hi,

Which instance ? I am not sure I understand. Maybe I missed something.
One year ago, I installed Temboard 3 and the installation went smoothly without any problems on both server side and agent side.

Let me describe my current environment as I want to start from scratch and install Temboard 6.

On my CentOs VM, there is an postgres Instance (v12.3).
postgres  89872  89871  0 Jun22 ?        0

[2020-06-29 06:01] pgiraud commented on #676
@ced75 isn't it the same problem you had in #775 ?

[2020-06-29 11:31] dgiffin opened #780 "Is this SQL being run by temboard?"
Getting a lot of temporary files created for the SQL statement in the attached file (work_mem is set to 1GB) and I'm trying to pin down where this code is coming from (pg_stat_statements shows:

user=postgres,db=<REDACTED>,app=[unknown],client=[local]

And I wondered if this was being run by temboard/temboard-agent?

[dgiffin.txt](https://github.com/dalibo/temboard/files/4845150/dgiffin.txt)

[2020-06-29 12:28] pgiraud commented on #780
Hi @dgiffin
Indeed it is run by temboard-agent.
This query is used to check how high is the ratio of btree indexes bloat.
I can be expensive on large or complex databases. How big is the database on which this query is run?

[2020-06-29 14:51] ced75 commented on #676
@pgiraud not exactly.
Here the problem occurred after a PostgreSQL upgrade.
Whereas in #775, the problem occurred after a TemBoard upgrade.

I have recently from PostgreSQL 11 to 12 without facing the same issue.

[2020-06-30 05:25] dgiffin commented on #780
16 Tb

[2020-06-30 07:47] ced75 opened #784 "Heap bloat ratio estimation undefined"
Hi,

I'm using temboard 6 to monitor several servers with PostgreSQL 12.
On one server, heap bloat ratio estimation appears as "undefined", whereas it is OK on all others.
On this server, the main database has pgstattuple extension (which could be required for bloat estimation?).

Is there something missing (SQL script for example) on this server?

Thanks in advance for your help.
Kind regards,

C

[2020-07-02 08:43] #471 closed

[2020-07-02 08:50] #260 closed

[2020-07-02 08:57] #769 closed

[2020-07-06 11:55] #615 closed

[2020-07-06 13:51] #667 closed

[2020-07-16 08:58] #690 closed

[2020-07-16 12:17] dbc2000 opened #798 "fix typo"
Fix typo : #797

[2020-07-16 14:32] #798 closed

[2020-07-17 07:53] pgiraud opened #800 "Fix wrong color and style in notifications page"
The date shouldn't look like a link nor should the username look like a badge.

![Capture du 2020-07-17 09-52-32](https://user-images.githubusercontent.com/319774/87762328-42456780-c813-11ea-8d3c-9522df9da0b9.png)

[2020-07-17 14:29] #800 closed

[2020-07-22 08:07] orgrim opened #804 "create_repository.sh does not work if pg is on a different port"
The `temboard-migratedb` command does not use the PG* environment variables, so the calls in https://github.com/dalibo/temboard/blob/master/share/create_repository.sh#L17-L18:

[code]

only work with non default host/port/etc if the configuration file is provided with `--config`

[2020-08-03 06:19] pgiraud opened #806 "Comment field in instance settings is "undefined""
When add a new instance, the textarea for the `comment` attribute is filled with `undefined`.

[2020-08-03 11:36] #806 closed

[2020-08-06 09:47] l00ptr opened #809 "auto_configure.sh no longer work - user connection done at the wrong place"
auto_configure.sh no longer work since the v6 of temboard

We check the DB connection with the temboard role before creating it - So this test will always fail except if we created the user before (manually or by any other means).

We can fix this problem by moving the check done there https://github.com/dalibo/temboard/blob/v6/share/auto_configure.sh#L162 after the repository creation.

[2020-08-13 07:46] pgiraud commented on #809
It has been fixed via #810.
Backported in v6 via 866e076e99ef2d3bc5fe54995ce4a5164f8b69f8

[2020-08-13 07:46] #809 closed

[2020-08-24 07:38] pgiraud opened #822 "Maintenance plugin may not list indexes"
For a table, in some cases, there are indexes that are not listed. I suspect that this is because they are not using btree.

![Capture du 2020-08-24 09-38-18](https://user-images.githubusercontent.com/319774/91016773-92bb9c00-e5ed-11ea-8250-d7ffe4f0a40f.png)

[2020-08-24 14:00] ced75 opened #826 "Bloat estimation generates many processes when locked"
Hi,

I'm using the last TemBoard version on a 12.4 PostgreSQL server.
Many query we're executing are spatial queries with PostGIS and their execution time can be very long, creating temporary tables and modifying many datas.
When executing such long treatments, Temboard generates many connections locked by the PostGIS treatement, and the number of connections is indefinitely increasing as long as

[2020-08-24 14:04] bersace commented on #804
@orgrim as a workaround temboard-migratedb supports `TEMBOARD_REPOSITORY_HOST`, `TEMBOARD_REPOSITORY_PORT`, `TEMBOARD_REPOSITORY_USER`, `TEMBOARD_REPOSITORY_PASSWORD` and `TEMBOARD_REPOSITORY_DBNAME` like `temboard`.

[2020-08-25 09:59] bersace commented on #826
Hmm, that's unfortunate. You may disable `btree_bloat` probe in temboard-agent configuration:

[code]

[2020-08-25 12:41] ced75 commented on #826
Thanks for your answer.
Is it possible to add the different probes in the documentation?
I've modified the temboard-agent configuration file in the way you indicated and it seems to be OK now.
Here is the TemBoard graphic of sessions illustrating the problem:
![image](https://user-images.githubusercontent.com/12892581/91175352-f07ce080-e6e0-11ea-8f96-8a11d71d79a5.png)
The waiting sessions are incr

[2020-08-25 12:43] bersace commented on #826
Yep, we're going to add a timeout statement for this.

[2020-08-25 12:44] bersace commented on #826
As of now, the best way to know the available probes is to read temboard-agent logs:

[code]

[2020-08-26 07:06] pgiraud commented on #822
[code]

After creating this table and index, the table appears in the maintenance pages but no index is listed.

[2020-08-26 07:19] pgiraud commented on #822
[code]

This index does not appear in the list.

[2020-08-26 09:59] pgiraud commented on #804
@bersace can you confirm the current issue can be closed now?

[2020-08-26 10:04] bersace commented on #804
@pgiraud :+1:

[2020-08-26 10:04] #804 closed

[2020-09-08 09:32] pgiraud opened #845 "[maintenance] indexes still shown in UI even after being dropped"
Dropping an index doesn't remove it from list in the maintenance plugin.

[2020-09-18 12:37] pgiraud opened #855 "Charts with comparison for same daterange in the past"
Whenever possible it would be nice to have an overlay in the charts to show data for the same period of time but in the past.
Those new lines could be of the same color but dashed for example.

For example, we could ask for data for the last 24hours for the main line, and for now-48h to now-24h for the secondary line.

Here's an example of what it could look like (screenshot from google analytics)

[2020-09-24 00:57] bsislow commented on #668
Hello - any update on this case? Thank you.

[2020-09-25 09:40] pgiraud commented on #668
@bsislow we're almost ready. The 7.0 release is scheduled for next week. Keep in touch.

[2020-09-25 12:06] bsislow commented on #668
Thanks!

[2020-09-28 14:39] pgiraud commented on #668
@bsislow temBoard 7.0 has just been released. Please have a try.

[2020-09-28 16:31] bsislow commented on #668
Thanks, we will need a bit of time to organize the upgrade. Will let you know...

[2020-09-29 13:26] egaultier opened #859 "Temboard not present on the Dalibo Labs YUM repository"
Hello

On CentOs 8,
I add then Dalibo Labs YUM repository with problem
yum makecache OK (fast don't work)

But When I search temboard :

![image](https://user-images.githubusercontent.com/67147948/94564010-c1213c80-0267-11eb-8cf2-f28138a8056e.png)

Only temboard.agent is found.

Thank you for your help.

Gaultier Emmanuel

[2020-09-29 13:32] pgiraud commented on #859
Unfortunately temboard UI is not available for CentOS8 yet. Sorry for the inconvenience.

[2020-09-29 13:34] pgiraud commented on #859
You can still consider installing temboard using pypi.

[2020-09-29 13:37] egaultier commented on #859
OK.

I will test with pypi or install on another server

Thank you for your quick answers.

[2020-09-29 13:37] #859 closed

[2020-10-01 11:36] Rodac opened #861 "[temboard-migratedb] Issue migrating to 7.2"
Hello,

Trying to update temBoard from version 6.x to 7.2 , I'm not able to migrate :
[code]

Here is the output of `temboard-migratedb -V` :
temBoard 7.2
System CentOS Linux 7 (Core)
Python 2.7.5 (/usr/bin/python)
psycopg2 2.7.5 (dt dec pq3 ext lo64)
Tornado 4.2.1
SQLAlchemy 0.9.8
alembic 0.8.3

Thanks in advance for any help

[2020-10-01 11:59] pgiraud commented on #861
Can you please try the following command?
[code]

[2020-10-01 12:02] Rodac commented on #861
That does the same

[2020-10-01 12:11] pgiraud commented on #861
Could you please tell us what the current owner of the `application.instances` table is?
In a psql console:
[code]
What is the owner for other temboard tables?

[2020-10-01 13:02] damienreyre commented on #861
Hello, I have the same issue like Rodac.
version 6.x to 7.2

temboard-migratedb -V
temBoard 7.2
System Debian GNU/Linux 10 (buster)
Python 2.7.16 (/usr/bin/python2.7)
psycopg2 2.7.7 (dt dec pq3 ext lo64)
Tornado 5.1.1
SQLAlchemy 1.3.19
alembic 1.4.3

temboard=# \dt application.instances
              Liste des relations
   Schéma    |    Nom    | Type  | Propriétaire
-------------+-----------+----

[2020-10-01 14:10] Rodac commented on #861
[code]

- The database is owned by _temboard_
- The schemas are owned by _postgres_
[code]

[code]

[2020-10-01 15:19] pgiraud commented on #861
@Rodac Thanks a lot for the details.
We'll try to come back with a solution as quickly as possible.

Quick note: in our dev or testing environnement, all relations are owned by the user `temboard`.
You may want to try to change this manually.

[2020-10-01 15:43] Rodac commented on #861
Well, thanks for the tip.
Actually, it lets the _temboard-migratedb_ works as expected.

To anyone dealing with the same issue :
you could run the following requests :
[code]

Then :
[code]

[2020-10-02 06:17] damienreyre commented on #861
Thanks for the information, but unfortunately, it's not working for me.

I run your following requests and I have the same issue :

[code]

[code]

Cheers,

[2020-10-02 06:20] damienreyre commented on #861
[code]

[2020-10-02 06:28] pgiraud opened #862 "Migration to 7.2 on Debian - Can't locate revision identified by '2678b1a78dfa'"
Users migrating from 6.x to 7.2 on Debian (or with temBoard installed with Pypi) may get an error looking like the following when launching the migration script:
[code]
We recently discovered that our pypi wheel packages were containing files that shouldn't have been there. This includes development migration files. Unfortunately those files were also in the Debian package for 6.2 version.

If you

[2020-10-02 06:28] pgiraud commented on #861
@damienreyre this is a different issue. I'm opening a new one with a description of the problem and a solution. https://github.com/dalibo/temboard/issues/862

[2020-10-02 06:30] pgiraud commented on #862
CC @damienreyre

[2020-10-02 07:10] damienreyre commented on #862
Thanks, you are right. For the migration everything is OK now.
But I have an error on the UI temboard now :
[code]

`(psycopg2.ProgrammingError) ERROR: column instances.comment doesn't exist LINE 1:`

Do you have an idea ?

Cheers,

[2020-10-02 07:26] pgiraud commented on #862
Ok, this means that I was wrong when I assumed at which revision your database were.
You will need to apply one of the upgrade manually:
[code]

[2020-10-02 07:36] damienreyre commented on #862
This one is good. Thanks for you help.

Another error with the temboard-agent, if I want to upgrade my agent to 7.0 :
[code]

I have the same error on different PostgreSQL instances.

My actual version is 6.0 :
[code]

[2020-10-02 07:57] #861 closed

[2020-10-02 13:23] pgiraud commented on #862
@damienreyre I opened a new issue on temboard-agent for the new problem. https://github.com/dalibo/temboard-agent/issues/477

[2020-10-02 13:23] #862 closed

[2020-10-05 07:12] wsescu opened #863 "CRITICAL: Database is not up to date. Please use temboard-migratedb."
Dear temBoard Support

after upgrading from temBoard 6.2 to 7, I can't start the temBoard service anymore.

The upgrade went fine:

$ temboard-migratedb upgrade
 INFO: Starting temboard-migratedb 7.2.
 INFO: Found config file /etc/temboard/temboard.conf.
 INFO: Context impl PostgresqlImpl.
 INFO: Will assume transactional DDL.
 INFO: Running upgrade  -> e73c6bfce646, application
 INFO: Running upg

[2020-10-05 07:25] pgiraud commented on #863
Hi @wsescu
First of all, thanks for upgrading temBoard and for the report.
Let's dig to figure out what went wrong together.

Can you please run the following command?
[code]

OK, the instances table does not have the comment field. Which is wrong. Can you also check if there's a `statements` schema with a bunch of tables? Also can you please tell us what revision you have for alembic?

[code]

I'

[2020-10-05 07:36] wsescu commented on #863
Dear @pgiraud

looks like the statements schema was not created. Attached are all other information.

[code]

[code]

[code]

[code]
Cheers
William

[2020-10-05 07:42] wsescu commented on #863
By the way ... when I run the check command, I do get the following ERROR in the postgres log file.

[code]

[code]

[2020-10-05 08:05] bersace commented on #863
@wsescu yep, this error is managed on temBoard. We'll drop the ALTER soon.

[2020-10-05 08:24] wsescu commented on #863
Dear @pgiraud

is there any way, how I can create the statements schema manually, so that I can get the temBoard up and running?

Cheers
William

[2020-10-05 08:58] pgiraud commented on #863
I'm suprised that the `upgrade` and `check` commands work correctly (well tell you that everything is OK) and then that the temboard script doesn't.

Can you please ensure that there is not 2 different databases?

[2020-10-05 09:07] wsescu commented on #863
Dear @pgiraud

what I have found out, is that the application, monitoring and statements schema was created in the wrong database.
Instead of creating it in the temboard database, it created it in the postgres database.

[code]

[2020-10-05 09:12] pgiraud commented on #863
Did you try the following command?

[code]

[2020-10-05 09:14] wsescu commented on #863
yes, but I do not have sudo permissions to do so.

[code]

[2020-10-05 09:57] wsescu commented on #863
I am wondering where the migration script takes the information, that it should create the schemas in the postgres database instead of the temboard database.

The migratedb.py script defauls to the temboard database.

[code]

And my /etc/temboard/temboard.conf also did not change. The dbname was always temboard.

[code]

[2020-10-05 10:04] pgiraud commented on #863
Can you please try to run the following command again, but as `root` instead of `postgres`:
[code]

Do you remember how you stamped the database revision when upgrading from 5.x to 6.0?
https://temboard.readthedocs.io/en/v7/temboard-upgrade-5-6.0/

Note: you will most probably face an issue with permissions in the database. Please follow the notes here: https://github.com/dalibo/temboard/issues/86

[2020-10-05 11:37] wsescu commented on #863
Hello @pgiraud

after changing the owner ship to the temboard user, dropping the schemas from the postgres db,
and re-running the upgrade command as the temboard OS user, it worked.

Thanks a lot for your help.

[code]

Cheers
William

[2020-10-05 11:50] pgiraud commented on #863
That's good news! Thanks for letting us know.
Please don't hesitate to send us feedback about the new statements plugin.

[2020-10-05 11:50] #863 closed

[2020-10-05 11:52] wsescu commented on #863
The feature I was waiting for was the comment field, and the Agent support for RHEL 8.
Thank you very much for implementing them.

[2020-10-05 19:10] bsislow opened #864 "URGENT - Cannot Start temboard UI - Hit a Bug Upgrading to 7.2"
Encountered the following after upgrading package and then issuing `temboard-migratedb`. Please advise.

[code]

[2020-10-06 06:10] pgiraud commented on #864
It looks like you are running the script with the wrong user. There's an error in the documentation that we should fix.
Can you please run the command using the following statement?
[code]

[2020-10-06 10:59] egaultier opened #866 "Error at start Temboard-agent on CentOs8"
Hello

I install Temboard-agent 7 (with PyPi Method). I have an error with Centos Method :

![image](https://user-images.githubusercontent.com/67147948/95193182-adc82100-07d3-11eb-88b8-41f067da5a4b.png)

I execute /usr/share/temboard-agent/auto_configure.sh, with default configuration, without error.

But when I start temboard-agent with root, I have this error :

2020-10-06 12:43:07,735 temboarda

[2020-10-06 11:27] wsescu commented on #866
I had the same issue on RHEL 8.

After giving read permissions to the user who is running the temboard agent (in my case os user postgres), it worked fine.

Check the pemissions in:

ssl_cert_file = /etc/pki/tls/certs/temboard-agent-xxxxxxxxxxx.pem
ssl_key_file = /etc/pki/tls/private/temboard-agent-xxxxxxxxxxx.key

[2020-10-06 11:35] egaultier commented on #866
Thank you

This is Ok with your help.

[2020-10-06 11:35] #866 closed

[2020-10-06 14:06] pgiraud commented on #864
Do you remember how you ran the `temboard-migratedb stamp` command when upgrading from 5 to 6 ?

[2020-10-06 14:23] bsislow commented on #864
No, that's not in the shell history.

[2020-10-06 16:44] xroman70 opened #867 "Invalid temboard_port from config"
Failed to start agent with error:
systemd[1]: Started PostgreSQL Remote Control Agent 11/pg5432.
 env[26122]: INFO: Starting temboard-agent 6.0.
 env[26122]: ERROR: Invalid temboard_port from config: invalid literal for int() with base 10: ''...
 env[26122]: CRITI: Failed to load configuration.
 systemd[1]: temboard-agent@11-pg5432.service: main process exited, code=exited, status=1/FAILURE
 syste

[2020-10-07 06:41] pgiraud commented on #867
@xroman70 What's the value for `port` in the `temboard` section of your config file? It should be an integer.

[2020-10-07 14:27] xroman70 commented on #867
Here is temboard section from   /etc/temboard-agent/11/temboard-agent.conf :

[temboard]
port = 2345
address = 0.0.0.0
users = users
plugins = ["monitoring", "dashboard", "pgconf", "administration", "activity"]
ssl_cert_file = /etc/pki/tls/certs/temboard-agent.pem
ssl_key_file = /etc/pki/tls/private/temboard-agent.key
key = SECRETKEYTOBECHANGED
home=/var/lib/temboard-agent

[2020-10-07 14:30] xroman70 commented on #867
Not sure what is the value of %I  in
 Process: 30015 ExecStart=/usr/bin/env SYSTEMD=1 temboard-agent -c /etc/temboard-agent/%I/temboard-agent.conf (code=exited, status=1/FAILURE)

[2020-10-07 15:10] pgiraud commented on #867
Can you try to install temboard-agent 7.1 instead?

[2020-10-07 20:56] xroman70 commented on #867
Getting the same output:
systemd[1]: Started PostgreSQL Remote Control Agent 11/pg5432.
 env[9208]: INFO: Starting temboard-agent 7.1.
 env[9208]: ERROR: Invalid temboard_port from config: invalid literal for int() with base 10: ''...
 env[9208]: CRITI: Failed to load configuration.
 systemd[1]: temboard-agent@11-pg5432.service: main process exited, code=exited, status=1/FAILURE
 systemd[1]: Unit

[2020-10-08 06:32] wsescu commented on #770
Dear @bersace

it looks like, that the huge number of rollbacked session, is related to the following warnings (from temboard.log)

[code]

Whenever such a warning shows up, I do get immediately the EOF in the postgresql.log file.

[code]

Is there any way to fix this issue? The problem is that I have so many EOF messages in the postgresql.log file, so that it
becomes unreadable.

Cheers
William

[2020-10-08 07:55] pgiraud commented on #864
Can you please show what the privileges on the database and on the schemas?
In a `psql` console:
[code]

[2020-10-08 12:38] bersace commented on #770
@wsescu thanks for the investigation. I proposed a patch at #868 . Is it possible for you to test it ?

[2020-10-08 12:42] wsescu commented on #770
@bersace

sure, I can test it, but I need a new temboard rpm to do so

[2020-10-08 12:49] bsislow commented on #864
[code]

[2020-10-09 07:37] pgiraud commented on #864
Can you please check what's temboard's database owner?
[code]

[2020-10-09 07:49] pgiraud commented on #864
Can you also please tell us who's the owner of the following directories?
[code]

[2020-10-09 13:08] bsislow commented on #864
[code]

[code]

[2020-10-09 13:48] pgiraud commented on #864
@bsislow it seems like there's *actually* a `temboard` user on your system. I'd recommend you run the migrate commands using this user.

Also, it's a common usage that the `temboard` database is owned by the `temboard` user as well.

[2020-10-09 15:36] xroman70 opened #869 "Unable to connect to postgres"
Getting "Unable to connect to postgres" on main temboard web page for newly added agent.
![temboard_unable](https://user-images.githubusercontent.com/59317572/95602943-04c83300-0a2c-11eb-87f4-032bf5761468.jpg)

[2020-10-09 16:02] xroman70 commented on #869
output for "systemctl status temboard":

 env[28188]:   File "/usr/lib64/python2.7/urllib2.py", line 475, in error
 env[28188]:     return self._call_chain(*args)
 env[28188]:   File "/usr/lib64/python2.7/urllib2.py", line 409, in _call_chain
 env[28188]:     result = func(*args)
 env[28188]:   File "/usr/lib64/python2.7/urllib2.py", line 558, in http_error_default
 env[28188]:     raise HTTPError

[2020-10-12 18:09] bsislow commented on #864
still did not work:

[code]

[2020-10-12 18:44] bsislow commented on #864
i had to alter all tables to be owned by `temboard` as well.

[2020-10-12 18:44] #864 closed

[2020-10-16 06:55] wsescu commented on #770
Dear @bersace

thanks for the new 7.3 rpm.

I have tried it out this morning, however, the issue still remains.

[code]
![image](https://user-images.githubusercontent.com/54099545/96222668-faa6b700-0f8c-11eb-9fc4-9803a3b4f610.png)

The rollbacks still correlate with the following Warnings:

[code]

Cheers
William

[2020-10-16 07:09] bersace commented on #770
Hi @wsescu thanks for the feedback. We'll have to reproduce this one too. Did you restart temBoard ?

[2020-10-16 08:09] wsescu commented on #770
Sure. I did the restart of the temBoard server. However, the issue still remains.

[2020-10-16 08:25] pgiraud commented on #869
@xroman70 Sorry for the late answer. Apparently temboard managed

First of all, the error "Exception: Could not find registered host with hostname=dev-gt-db-01.prv.gen.io" is not very critical. It usually appear when you try to show information about an instance. The monitoring plugin hasn't collected any data yet. This error usually disappears after the first minutes.

For the "Unable to connect

[2020-10-16 08:30] bersace commented on #770
@wsescu ok, thanks for the confirmation.

[2020-10-16 08:43] pgiraud commented on #784
Is this error still accurate?
Have you tried to install a new version of the agent?
Some improvements have been done on the query which estimates the bloat.

[2020-10-19 20:12] xroman70 commented on #869
I don't see system metrics for the instance. Yes, the error ""Unable to connect to postgres" is visible on dashboard page. Agent side errors:
 env[1960]: client: ip-172-22-10-56 request: "GET /discover HTTP/1.1" 200 - 14.03ms
 env[1960]: {'error': 'Invalid key'}
 env[1960]: Traceback (most recent call last):
 env[1960]:   File "/usr/lib/python2.7/site-packages/temboardagent/httpd.py", line 132, in

[2020-10-20 09:04] pgiraud commented on #869
Can you make sure that the `key` in the `[temboard]` in the configuration for the agent matches the one you can see in the UI in the settings for this instance?
You may have changed the key after the agent was registered.

[2020-10-21 08:11] ced75 opened #874 "Temboard 7.3: instances do not appear in the main screen"
Hi,

I upgraded to Temboard 7.3 and all my instances disappeared from the main screen.
So I reinstalled a new fresh agent on one of my PostgreSQL servers. The install seemed to work, since it appears in the instances list in settings:
![image](https://user-images.githubusercontent.com/12892581/96691947-c6186e00-1385-11eb-9553-a844dfdb814e.png)

But the main screen remains empty:
![image](https://u

[2020-10-21 08:17] pgiraud commented on #874
Apparently there's a javascript error (see the raw value in the Groups button).
Can you open the developper tools in your browser and see if you can find any JS error?
Also, are there any errors in the temboard UI logs?

[2020-10-21 08:31] ced75 commented on #874
Thanks for your answer.
Could you remind me where I can find temboard UI logs?

[2020-10-21 08:33] pgiraud commented on #874
https://github.com/dalibo/temboard/issues/629#issuecomment-489997673

[2020-10-21 08:34] ced75 commented on #874
Curiously, it works again.
But I did nothing special for this, except I opened Temboard from Chrome instead of Firefox.
It also works in Firefox now.
Very weird...

[2020-10-21 08:34] pgiraud commented on #874
Indeed, very weird.

[2020-10-21 08:43] ced75 commented on #629
There still are things that do not work. For example, status screen remains empty.
Here are the log entries:
oct. 21 10:40:19 inv-monitor env[581]: Unhandled Error:
oct. 21 10:40:19 inv-monitor env[581]: Traceback (most recent call last):
oct. 21 10:40:19 inv-monitor env[581]:   File "/usr/lib/temboard/lib/python2.7/site-packages/temboardui/web.py", line 227, in error_middleware
oct. 21 10:40:19 i

[2020-10-21 09:04] ced75 commented on #874
Here are logs generated when I go to the status screen:
oct. 21 11:02:44 inv-monitor env[581]: Traceback (most recent call last):
oct. 21 11:02:44 inv-monitor env[581]:   File "/usr/lib/temboard/lib/python2.7/site-packages/temboardui/web.py", line 227, in error_middleware
oct. 21 11:02:44 inv-monitor env[581]:     return func(request, *args)
oct. 21 11:02:44 inv-monitor env[581]:   File "/usr/lib/

[2020-10-21 09:30] pgiraud commented on #874
This error is not very clear. It usually appears when temboard hasn't retrieved any monitoring info from agent yet.
Because it's a new agent, temboard will first have to collect some data. It should happen after several minutes. Then the host will be known as per the monitoring plugin.

Can you confirm that the status page is not empty anymore?

[2020-10-21 09:38] ced75 commented on #874
No, the page remains empty.
And the dashboard only shows partial informations:
![image](https://user-images.githubusercontent.com/12892581/96702394-fe25ae00-1391-11eb-8793-c61dbf527e76.png)

[2020-10-21 11:53] ced75 commented on #874
I've exactly the same issue on a new added server.

[2020-10-21 12:25] pgiraud commented on #874
Can you please show us the content of the `monitoring.hosts` table?

[2020-10-21 12:33] pgiraud commented on #730
This seem to require a large amount of work.
Instead a simple alternative would be to use something like https://darkreader.org/

[2020-10-21 12:33] #730 closed

[2020-10-21 13:06] ced75 commented on #874
The table is empty.

[2020-10-21 13:14] pgiraud commented on #874
Can you please search in the logs if there's any other error? It looks like temboard is unable to collect any monitoring data.

[2020-10-21 13:47] ced75 commented on #874
Something like that ?
oct. 21 13:40:07 inv-monitor env[581]: Traceback (most recent call last):
oct. 21 13:40:07 inv-monitor env[581]:   File "/usr/lib/temboard/lib/python2.7/site-packages/temboardui/web.py", line 227, in error_middleware
oct. 21 13:40:07 inv-monitor env[581]:     return func(request, *args)
oct. 21 13:40:07 inv-monitor env[581]:   File "/usr/lib/temboard/lib/python2.7/site-packag

[2020-10-21 13:54] pgiraud commented on #874
Unfortunately this is not the kind of errors I'm looking for. These errors most probably appeared after trying to display the "monitoring" page using the interface.

[2020-10-21 14:10] pgiraud commented on #874
Please contact me directly
pierre (dot) giraud (at) dalibo (dot) com

[2020-10-28 13:23] bsislow opened #875 "Status Screens are Empty for Older Time Ranges"
certain time ranges work on status screens - such as the last 30 minutes.

however, if i extend the range back to 7 days for example, the charts are completely empty:

![image](https://user-images.githubusercontent.com/30243584/97441618-ea7cc900-18f6-11eb-96be-0d5340a43fb1.png)

i'm pretty sure this is related - from the temboard UI log (note i removed sensitive information):

[code]

FYI:
[code]

[2020-10-30 18:49] xroman70 commented on #869
The key value has been changed in auto.conf to math with one from the settings for the instance. No errors to report. Thank you.

[2020-10-31 15:15] #869 closed

[2020-10-31 15:16] xroman70 commented on #869
Solution has been provided.

[2020-11-02 07:47] pgiraud commented on #770
PR #871 fixes the initial issue reported here.

[2020-11-02 07:58] #775 closed

[2020-11-02 16:28] Krysztophe opened #876 "temboard-migratedb : relation "public.alembic_version" does not exist"
The problem appears on 2 different TemBoard repositories, on 2 different Ubuntu 20.04 servers, both installed with packages from apt.dalibo.org some time ago.

Since the OS & packages were upgraded, TemBoard does not start anymore. I can't tell when exactly, these are rarely used, but all was okay a few months ago.

Summary: The log asks for a migration. `temboard-migratedb check` generates an err

[2020-11-09 14:31] bsislow opened #878 "Metrics: Cannot Select Actual Time Range"
on the monitoring/metrics page, i cannot select a "real" time range after selecting the "from" range. see below. when i select "from" november 6th, why can't i select november 6th as the "to" time range as well? i'm trying to look at a very narrow time range on the night of the 6th...

![image](https://user-images.githubusercontent.com/30243584/98553922-c198f400-2265-11eb-9ef4-5c3f1c843f0c.png)

f

[2020-11-25 08:44] wsescu opened #879 "Statements Plugin shows SQL twice even if never executed"
Dear temBoard team

we do have an issue with the Statements plugin in a way, that SQL statements appear twice, even if never executed.
Please take a look at the attached screenshot. (I did a sort by Calls)
e.g. the UPDATE and SELECT was only executed as user robot but never executed as user robot_admin

![image](https://user-images.githubusercontent.com/54099545/100203242-a20af800-2f02-11eb-90e9-f

[2020-12-09 12:33] pgiraud commented on #879
Thanks for the report. That's weird indeed.
I hope I can find some time soon to dig into this.

[2020-12-09 12:50] wsescu commented on #879
Hello @pgiraud

we do have this issue on every database where we have different users which starts with the same string, e.g.

<user>
<user>_ro
<user>_rw
<user>_admin

Looks like that the SQL statement which collects the data has something like <user>%, or maybe a wrong join condition.

Cheers
William

[2020-12-09 12:52] pgiraud commented on #879
Thanks for the tip.

[2020-12-09 16:03] pgiraud commented on #879
I could reproduce the bug or actually something similar.

[2020-12-15 11:08] #879 closed

[2020-12-15 12:30] #878 closed

[2020-12-15 12:49] pgiraud commented on #879
@wsescu I just release a version 7.4 of temboard (UI). The problem you reported should be fixed. Can you please confirm?

[2020-12-15 12:52] pgiraud commented on #878
@bsislow A version 7.4 of temBoard has just been released. There's a fix for your problem. Can you please have a try and let us know?
Please make sure that you browser cache is cleared.

[2020-12-15 12:58] wsescu commented on #879
Hello Pierre
thanks for the new release. I will test it immediately as soon as I'll be back from holiday.
Cheers
William

[2020-12-17 08:04] ced75 opened #882 "temboard-agent-register raises a JSON error"
Hi,

Trying to register a new temboard agent from the monitored server (using TemBoard 7.5) I get the following error when I execute temboard-agent-register:
 INFO: Starting temboard-agent-register 7.5.
 INFO: Getting system & PostgreSQL informations from the agent (https://test-inv-prod.ign.fr:2345/discover) ...
CRITI: the JSON object must be str, not 'bytes'

And the registration fails.

If I re

[2020-12-17 13:07] #784 closed

[2020-12-17 13:08] ced75 commented on #784
With the last 5.7 version, the problem has been solved.
Regards,

Cedric

[2020-12-17 13:09] #826 closed

[2020-12-17 13:09] ced75 commented on #826
Problem solved in Temboard 7.5
Thanks

[2020-12-17 15:21] rimbault opened #883 "temboard-ui no instance"
Hi,

I'm trying to set up a temboard server.
I have an instance who seems to work : temboard=# select * from monitoring.hosts;
[code]
And there some data collected :
[code]
But on the main page I only have the message "No instance is available yet. Go to Settings to add or configure instances."

Logs :
[code]
There is two 404 on /js/popper.min.js.map and /js/dist/dygraph.min.js.map that all :/

An

[2020-12-17 15:22] rimbault commented on #883
Sorry ... forgot to give some data :
# temboard --version
 INFO: Starting temboard 7.4.
temBoard 7.4
System Debian GNU/Linux 10 (buster)
Python 2.7.16 (/usr/bin/python)
psycopg2 2.8.6 (dt dec pq3 ext lo64)
Tornado 5.1.1
SQLAlchemy 1.3.20
alembic 1.4.3

# psql --version
psql (PostgreSQL) 13.1

[2020-12-17 15:59] pgiraud commented on #883
My first thought is that you probably forgot to set a group for your instance. Please go to the "settings" section and add the instance to the "default" group.

[2020-12-17 16:03] rimbault commented on #883
Argh ! you are right ... Very sorry for the noise.
Thank you so much to help a poor DBA !

[2020-12-17 16:03] #883 closed

[2020-12-24 14:57] bsislow opened #885 "Deleting Instances Takes a Very Long Time - Recommendation"
Deleting an instance was taking a very long time. I reviewed foreign keys and came up with these recommendations to speed up the dependent removals. I recommend these for a future release.

[code]

[2020-12-28 09:57] dlax commented on #882
Which version of python3 are you running (on the agent side)? From message `the JSON object must be str, not 'bytes'`, it looks like you're running python 3.5. The code for agent registration seems to require 3.6.

[2021-01-03 09:47] wsescu commented on #879
Hello @pgiraud
After upgrading to temBoard to 7.4, the issue is fixed.
Thank you very much.
Cheers
William

[2021-01-03 09:49] wsescu commented on #770
Dear @pgiraud
I have upgrade to temBoard 7.4 and the agent to 7.5, however, the issue is still there.
Cheers
William

[2021-01-04 07:32] pgiraud commented on #770
@wsescu Can you please elaborate which issue you are refering to? Are you still getting "Failed to parse JSON from Postgres: No JSON object could be decoded" error messages in the logs?

[2021-01-04 10:06] wsescu commented on #770
Dear @pgiraud

yes. Both issues still exist. I still do get the ERROR: Failed to parse JSON from Postgres: No JSON object could be decoded
Here are the latest ones from this morning.

[code]

And I still do get auf huge number of Rollbacks. I did alread the upgrade to 7.4.

[code]

Cheers
William

[2021-01-06 22:50] Mika313 opened #886 "Cannot add user with temboard-agent-adduser"
Hello,

When i run the command
`temboard-agent-adduser -c /etc/temboard-agent/<appli>/temboard-agent.conf`
i have the error below:
` INFO: Starting temboard-agent-adduser 7.3.`
`ERROR: Invalid postgresql_host from config: Not a directory...`
`CRITI: Failed to load configuration.`

I could not have more precisions.
I add `--debug` option but it does not display more logs.

This is my config file:
`

[2021-01-07 13:49] dlax commented on #886
Does this directory exist on your system? It should be an absolute path to the unix socket: see documentation about the "host" parameter at https://www.postgresql.org/docs/13/libpq-connect.html#LIBPQ-PARAMKEYWORDS

[2021-01-08 08:57] wsescu opened #887 "Error while fetching statements from instance: 'ascii' codec can't decode byte 0xc3 in position 3210: ordinal not in range(128)"
Dear temBoard team

On a PostgreSQL 10.15 Instance, we do get the following error when clicking on the Statements section in temBoard.

Error while fetching statements from instance: 'ascii' codec can't decode byte 0xc3 in position 3210: ordinal not in range(128)

![image](https://user-images.githubusercontent.com/54099545/103994222-f9091b80-5196-11eb-80ad-23a361a25a45.png)

What is different in t

[2021-01-11 08:58] dlax commented on #887
Can you share the traceback that should appear in UI and agent logs? That'd help us fixing the issue, thanks.

[2021-01-12 12:40] wsescu commented on #770
Dear @pgiraud

reproducing the JSON error is quite easy. By just clicking on the "Rollbacked transactions" buttion. (on any instance)

![image](https://user-images.githubusercontent.com/54099545/104315504-5a085a80-54db-11eb-8b35-762fb59fc107.png)

Then you will find in the temboard.log of the server the following parsing JSON errors:

[code]

Cheers
William

[2021-01-12 12:55] pgiraud commented on #770
My bad, the fix has been done against the master branch. Thus it has never been added to a 7.x release.

[2021-01-12 13:16] pgiraud commented on #770
@wsescu May I ask you to install the 7.5 version of temboard UI and see if the issue is fixed?

[2021-01-12 13:30] wsescu commented on #770
@pgiraud Thank you very much. After upgrading temBoard to version 7.5, the following issue is fixed.

`ERROR: Failed to parse JSON from Postgres: No JSON object could be decoded`

Thanks.

[2021-01-12 13:34] pgiraud commented on #770
Thanks. I'm closing the current issue then.
For the rollbacks, we have been aware of the problem for a while but we didn't find any way to fix it. See https://github.com/dalibo/temboard/issues/408#issuecomment-482505131

[2021-01-12 13:34] #770 closed

[2021-01-21 08:10] wsescu opened #888 "ERROR: Request failed: 500 column "key" does not exist"
Dear temBoard support

whenever I click on "Rollbacked transactions" and select a different time range other than the default, e.g. Last 2 days, or Last 7 days, I do get the following error in the temboard.log

[code]

And the following errors in the PostgreSQL alert.log

[code]

I am running temboard 7.5 and agent 7.5.

Cheers
William

[2021-01-21 08:33] pgiraud commented on #888
Hi @wsescu and thanks for thre report.
I confirm that this is a bug and I can reproduce it.
I will try to fix it as soon as possible.

[2021-01-21 08:37] wsescu commented on #888
Thanks @pgiraud for taking care of this one.

[2021-01-21 13:53] wsescu opened #890 "ERROR: 'SELECT * FROM history_tables()' {}"
Dear temBoard support

since the upgrade to temBoard version 7.5, we do have every 3 hours the following deadlocks in the PostgreSQL log file
and in the temboard log file.

From the PostgreSQL log file:

[code]

From the temboard log file:

[code]

Detailed error from the PostgreSQL log file.

[code]

Detailed error from the temboard log file:

[code]

Cheers
William

[2021-01-29 15:26] bsislow opened #891 "New Instance With Missing Status Details and Repeating Error "Could not find registered host with hostname""
We deployed a standby instance in temboard and the dashboard is not showing and statuses. Also, the Monitoring graphs are empty and Status screens do not load...

![image](https://user-images.githubusercontent.com/30243584/106293433-9e059a00-6213-11eb-8056-12ea1acde519.png)

![image](https://user-images.githubusercontent.com/30243584/106293522-baa1d200-6213-11eb-8ab4-eb0fc8cd9df3.png)

![image](ht

[2021-02-08 22:19] bsislow commented on #891
We are now getting this on another host that was never a standby; it was only a primary. We had to restart the host and now the temboard UI is issuing the same - "[web] ERROR: Exception: Could not find registered host with hostname=...."

[2021-02-09 15:12] bsislow commented on #874
Was there any traction on this? We are experiencing the same issue.

[2021-02-09 16:29] ced75 commented on #874
In my personal case, a full reinstall and a version upgrade of temBoard solved the problem.

Sometimes, the problem occurs when temBoard server and temBoard agent are not at the same version level.
Update the temBoard agent can be usefull.

[2021-02-09 16:58] bsislow commented on #874
Upgrading to temboard UI 7.4 fixed this - thank you!

[2021-02-09 16:59] bsislow commented on #891
Upgrading to temboard UI (no agent issue here) to 7.4 fixed this.

[2021-02-09 16:59] #891 closed

[2021-02-09 18:22] ced75 opened #894 "Temboard-agent error : no more monitoring data available"
Hi,

One off my monitored server does no more display monitoring data.
Temboard server and temBoard agent are both in 7.5 version.

On the agent server, I get the following error:

févr. 09 19:21:09 new-del1207w108 env[1516]: Traceback (most recent call last):
févr. 09 19:21:09 new-del1207w108 env[1516]:   File "/usr/lib/python3.5/dist-packages/temboardagent/toolkit/taskmanager.py", line 882, in e

[2021-02-10 07:44] dlax commented on #894
I don't think so. It looks like a bug.

[2021-02-10 07:50] dlax commented on #894
Hm. Are you sure about the temboard-agent version? Can you post the content of `/usr/lib/python3.5/dist-packages/temboardagent/plugins/monitoring/db.py` from line 48 to 51, please?

[2021-02-10 08:11] ced75 commented on #894
Thanks for your help.
I confirm the agent version:

 INFO: Starting temboard-agent 7.5.
7.5

Here is the content of `/usr/lib/python3/dist-packages/temboardagent/plugins/monitoring/db.py` from line 48 to 51:
[code]

[2021-02-10 08:29] pgiraud commented on #894
@ced75 is there both a `python3` and a `python3.5` directory in `/usr/lib` ?

[2021-02-10 08:53] ced75 commented on #894
Yes, but temBoard agent is in `python3` directory.

[2021-02-10 08:57] pgiraud commented on #894
That's not what the logs tell.

[2021-02-10 08:58] ced75 commented on #894
Seems to be a conflict between the two directories...
How can I fix it?

[2021-02-10 09:30] dlax commented on #894
Can you run these two commands?
[code]

[2021-02-10 09:31] pgiraud commented on #875
Duplicate of #888

[2021-02-10 09:31] #875 closed

[2021-02-10 10:24] #874 closed

[2021-02-10 11:59] ced75 commented on #894
`dpkg -S /usr/lib/python3.5/dist-packages/temboardagent/`:

`dpkg -S /usr/lib/python3/dist-packages/temboardagent/`:

[2021-02-10 13:09] dlax commented on #894
I think you can safely remove `/usr/lib/python3.5/dist-packages/temboardagent/` directory (as well as `/usr/lib/python3.5/dist-packages/temboard_agent-*.*.dist-info` one, if present in your installation). Then, please report back whether or not this resolves the issue.

[2021-02-10 14:38] pgiraud commented on #890
I just wanted to let you know that I managed to reproduce the issue. I don't have any clue about what's going on though.

[2021-02-10 15:45] pgiraud commented on #888
Fix shipped with 7.6.

[2021-02-10 15:45] #888 closed

[2021-02-10 15:45] pgiraud commented on #875
Fix shipped with 7.6.

[2021-03-11 09:41] clmntpllr opened #896 "bloat ratio estimation only on postgres database after agent upgrade from 6 to 7"
Hi,
My UI is 7.3. I’ve upgraded my agents to 7.6 using pypi.
Now for the two metrics : « BTree index bloat ratio estimation » and « Heap bloat ratio estimation », the only database listed is « postgres ». The other databases appear on the other metrics as they did before.

Thx for that project.
Regards,
Clément

[2021-03-23 14:37] ced75 opened #897 "Empty monitoring graphs, no particular error"
Hi,

I do not have any graph in the monitoring view of the two monitored servers.
It used to work a few weeks ago.
Here is the temboard UI version:
[code]
Here is the agent version:
 INFO: Starting temboard-agent 7.6.
7.6

There is no particular error message in temboard services logs.

Could it be related to the 2.7 python version on the temboard server?

Thanks in advance for your help.
Regards,

[2021-03-25 13:02] jeanloesch opened #898 "Two agents on the same host issue Multiple rows were found for one() error"
Hi,

I have temboard-7.4-1.el7.noarch installed on CentOS Linux 7.6.
I happen to have two running postgres servers on the same host lyn3e600.tlt
So I have two running agents using port 2345 and 2346 (temboard-agent-7.1-1.el7.noarch).

I have these errors in my log file /var/log/temboard/temboard.log on the temboard server.

[code]

Could you please tell me how to fix these errors ?

Thank you.

Re

[2021-03-25 13:17] jeanloesch opened #899 "Cannot purge data"
Hi,

My running temboard server uses the package temboard-7.4-1.el7.noarch under CentOS Linux 7.6.
My configuration file has these lines:
[code]

I restarted the temboard service  3 days ago but the purge doesn't seem to work.
I still have old rows.
[code]

The size of my database keeps growing
DbAlias                      Date              Size Gb    Used Gb  Date
PG_TEMBOARD_PFI	  2021-03-25	37.

[2021-03-26 10:11] jeanloesch commented on #899
There is a display issue.
purge_after = 365 and purge_after = 7 are in fact commented.
There is a # before the lines but for some reasons lines with a leading # are display in bold characters.

[2021-03-26 10:16] pgiraud commented on #899
I updated your comment.

[2021-03-26 11:50] danielwestermann opened #900 "ERROR: Invalid temboard_ssl_key_file from config: /etc/ssl/private/temboard.key: File not found"
Hi,

I've just installed temboard on Debian 10.8 using apt:

[code]
Although the installation seems fine there is an issue with the key file:

[code]

The file is there:
[code]
Any ideas?

Thanks in advance
Daniel

[2021-03-29 07:01] wsescu commented on #900
Hello Daniel

you might want to change the group of the temboard.key file to temboard, and give read permissions to the temboard group.

[code]

I am still wondering why they ship temboard 7.5 and not 7.6 with their Debian repository. Some of these permission issues should have been fixed already.

Cheers
William

[2021-03-29 07:14] danielwestermann commented on #900
Hi William,

sure. But the installing from a package should work out of the box, that's why I've opened this issue.

Cheers,
Daniel

[2021-03-30 06:15] bersace commented on #629
Hi, is this still relevant ?

[2021-03-30 06:31] pgiraud commented on #900
For an unknown reason the package for debian buster for 7.6 were not pushed to the repository.
Thanks for the report. Can you please confirm that you can install it?

[2021-03-30 06:52] danielwestermann commented on #900
It is a bit better. After installation there is this message:

[code]

This, however, will only work after "systemctl daemon-reload" is executed. I suggest to either print the systemctl command or to do it automatically.

Starting temboard still results in this:

[code]

Fixing permissions to the temboard user can read the file gives this:
[code]

Regards
Daniel

[2021-03-30 07:00] pgiraud commented on #900
If this is an upgrade of an older version don't remember to run the script to update the database structure.
https://temboard.readthedocs.io/en/v7/temboard-upgrade-6-7.0/#upgrade-database-structure

[2021-03-30 07:20] danielwestermann commented on #900
This was a complete fresh install

[2021-03-30 12:00] ced75 commented on #629
Hi,

No. Last versions of temBoard solved the problem.
I close the issue.

[2021-03-30 12:00] #629 closed

[2021-04-01 05:25] wsescu commented on #899
Dear @pgiraud

I have set purge_after to 186 days.

[code]

However, I still see entries which are exactly 365 days old.

[code]

Did I missunderstand something about this parameter? Shouldn't be the olderst entries I find, 186 days old?

Cheers
William

[2021-04-06 12:42] haubourg opened #901 "Alerting and mail frequency"
Hi there,
I couldn't find answers in the docs or in the config files. Is there any possibility to set a mail / SMS frequency threshold?

In my organization, all the alerting has been disabled because we receive a mail each 2s for each individual alert.

This floods us and of course is an issue for us.

we are using temboard and temboard-agent v7.6

Did I miss something?

Thanks !

[2021-04-06 14:14] OrioQuezac opened #902 "Notifications mail - Dashboard Link"
The link generated in the notifications mail to access the Dashbord use `address` parameter of `temboard.conf`. We can use only IPv4 here (if not set, it use the default 0.0.0.0). How to use the FQDN ?

[code]

Thanks.

[2021-04-22 08:13] dgiffin opened #903 "Cluster converted from primary to read-only standby, what action is needed"
I have a PG cluster that temboard has been monitoring and have just converted it to be a read-only standby - now the temboard dashboard is showing the status of the two WAL monitors as UNDEF and the monitoring.

The monitoring.instances table shows standby=t for the instance.

Is there anything else I need to do? Do I need to update the temboard-agent.conf file? It has probes = * (but our other st

[2021-04-22 09:55] Zig3tPuce opened #904 "Installation on an off-line server"
All of our production infrastructure is offline for security reasons.
Where can I download the CentOS rpms from ? If not possible, how can I install temboard ?

[2021-04-22 10:00] bersace commented on #904
Hi @Zig3tPuce , thanks for reaching.

To ensure dependencies, I recommend you to follow installation documentation and just replace yum install by yum download, push the downloaded packages to your servers and follow regular installation instruction.

Anyway, you should find our rpms at https://yum.dalibo.org/labs/CentOS7-x86_64/ .

[2021-04-29 12:43] dgiffin opened #905 "Steps for PostgreSQL Upgrade"
I am going to be upgrading from PG12 to PG13 - what (if any) are the steps I need to take with the temboard-agent installed on the host?

[2021-04-29 14:03] bersace commented on #905
Hi @dgiffin,

If you upgrade in-place, just go to agent edit dialog in UI and refresh introspection of the Postgres instance. Sadly, this will live your agent identified as `12/XXX` while it's managing a `13/XXX`.

If you change the port or the host of the cluster, I suggest you to reinstanciate a new agent. But you'll loose history in the UI.

That would be better for temboard to provide a script

[2021-04-30 05:40] dgiffin commented on #905
An agent upgrade script would be great, until then I think we'll need to keep the historical data and live with the "wrong" agent identifier. Hopefully the agent upgrade script would let us fix that later.

[2021-05-20 12:21] wsescu commented on #890
Dear @pgiraud

I do have a workaround for that issue

https://ptdb.ch/2021/04/14/postgresql-temboard-workaround-for-the-error-select-from-history_tables/

However, it is inconvenient, because you need a downtime.

Cheers
William

[2021-05-31 20:21] Mika313 commented on #899
Hello team,

Is there any news about this issue please?
The temboard repository database is full despite `purge_after = 15`  is present in  `[monitoring]` and `[statements]` section in the  /etc/temboard-agent/<app>/temboard-agent.conf file.

Versions in temboard UI:
[code]
temboard-agent version:
[code]

If it is a bug, is there a workaround to purge mannualy?

Thanks and Regards.

[2021-06-01 07:07] jeanloesch commented on #899
Hi everybody,

I would like to share with you my manually purge until this issue is resolved.

RETENTION_DAY=15
DBNAME=temboard

psql -t $DBNAME <<-EOF > /tmp/tmp$$ 2>&1
\set ON_ERROR_STOP

BEGIN ;

\echo Purge of tables monitoring.metric_bgwriter* ...
DELETE FROM monitoring.metric_bgwriter_30m_current WHERE datetime < now()-'$RETENTION_DAY day'::interval;
DELETE FROM monitoring.metric_bgwriter_6h

[2021-06-10 10:39] egaultier opened #918 "Sql Error in log file"
Hi

The errors below are repeated over and over :

![image](https://user-images.githubusercontent.com/67147948/121511377-d8b0e780-c9e8-11eb-882f-6258f7cc81db.png)

Have you an idea why ?

Thank

Emmanuel

[2021-06-11 06:05] bersace commented on #918
Salut @egaultier ,

Looks like temboard can't access metas table. Either the search_path is wrong or the database has not beend properly initialized. How did you install temBoard ?

[2021-06-11 08:49] egaultier commented on #918
Hi

I follow the web page https://temboard.readthedocs.io/en/v7/installation/

No error during installation.

![image](https://user-images.githubusercontent.com/67147948/121650812-410bd180-ca9a-11eb-9144-62d6dcbfcc05.png)

Merci

[2021-06-14 12:51] egaultier opened #919 "No Data in statements view"
Hi

Sorry new issue/question

Pg12
temboard-agent 7.7

I installed pg_stat_statements extension but in statements view on Temboard, there is No data.

![image](https://user-images.githubusercontent.com/67147948/121893874-c3a4c300-cd1e-11eb-8bfa-5ecd364cea49.png)

Extension installed in postgres db since few days.

![image](https://user-images.githubusercontent.com/67147948/121894004-e9ca6300-cd1e-

[2021-06-14 13:20] egaultier commented on #919
I have the same issue on all db in Temboard.

[2021-06-15 06:26] wsescu commented on #919
Dear @egaultier

have you activated the statements plugin in the instance properties?

![2021-06-15_08h22_36](https://user-images.githubusercontent.com/54099545/122003206-116b0b00-cdb3-11eb-8068-5c6e4448e69e.png)

And by the way ... I would remove the statements section from the Agent configuration file temboard-agent.conf entirely.
This is not needed from my point of view. (And restart the Agent

[2021-06-15 07:21] egaultier commented on #919
Dear @wsescu

Yes the statements plugin is active in instance properties ?

I remove the statement section in temboard-agent.conf. No change, No data in Statement view.

[2021-06-15 07:39] wsescu commented on #919
Do you see any errors in the agent log file? Are there any errors in the server log file?

[2021-06-15 08:01] egaultier commented on #919
No data in statements schema

![image](https://user-images.githubusercontent.com/67147948/122014622-9fe58980-cdbf-11eb-92a2-9812543a6941.png)

I actived the logging option with file method in temboard.conf.

I have a lot of errors :

![image](https://user-images.githubusercontent.com/67147948/122015323-4af64300-cdc0-11eb-9ae8-42ae567b6174.png)

![image](https://user-images.githubusercontent.com/67

[2021-06-15 08:06] wsescu commented on #919
I'm wondering why your owner is postgres. On my temboard instance the owner is temboard.

You might have a ownership/permission issue.

[code]

[2021-06-15 08:22] egaultier commented on #919
I don't know. No error during temboard installation

list of schema in temboard DB

![image](https://user-images.githubusercontent.com/67147948/122018814-80e8f680-cdc3-11eb-894a-0077a979945a.png)

[2021-06-15 08:29] wsescu commented on #919
On my installation it looks different. The connection details are:

[code]
And the owner of all schemas is temboard.

[code]

[2021-06-15 08:30] pgiraud commented on #918
@egaultier did you install temboard using packages or with `pip`?
Which version of temboard are you runnning?

[2021-06-15 08:37] pgiraud commented on #918
Can you also please tell us what the current version of your database is?
[code]

[2021-06-15 08:37] egaultier commented on #918
Hi @pgiraud

With package. I followed the website documentation for Redhat.

![image](https://user-images.githubusercontent.com/67147948/122021030-952df300-cdc5-11eb-82c4-3fc2812c16c6.png)

[2021-06-15 08:40] egaultier commented on #918
Pg 13.3

![image](https://user-images.githubusercontent.com/67147948/122021559-0ec5e100-cdc6-11eb-8ca2-f5eeb987cfeb.png)

[2021-06-15 08:47] pgiraud commented on #918
Looks like there is an issue with the script modifying the permissions. My bad.
Can you please run the following SQL commands?
[code]

[2021-06-15 08:50] pgiraud opened #920 "Permissions in statements schema are not correctly set"
The alembic migration script `20210526_2d9fe3bfb83329_grant_privileges_on_statements_objects.py` doesn't actually do anything.
My bad.

[2021-06-15 08:59] egaultier commented on #918
After execute your SQL Commands, it's OK

![image](https://user-images.githubusercontent.com/67147948/122023764-1edec000-cdc8-11eb-9c54-82042d8b8498.png)

No more error in postgres log and in temboard log.

Two issues resolved at the same time !!!

Thank for your help.

Have good day.
Emmanuel

[2021-06-15 09:05] #918 closed

[2021-06-15 09:07] egaultier commented on #919
Resolved at the same time as the issue 918

[2021-06-15 09:07] #919 closed

[2021-06-24 07:56] pgiraud opened #922 "Passwords incorrectly saved in database"
After the recent upgrade to python3, changing the password for a user using the update form in the UI results in having the password saved in python's bytes format (ie. b'xxxxx'). Thus the user can't login anymore.

[2021-06-28 09:02] orgrim commented on #922
Confirmed. Can it be considered blocking for python 3 user and get top priority?

Regards,

[2021-07-02 07:52] wsescu opened #925 "If too many instance groups are configured, you can't edit an instance and select one of the last one's"
Dear temBoard team

if you have created quite a lot instance groups (41 in my case), you can't edit an instance and select one of the last one's.
It is not working with Chrome, and with the Edge browser neither.

![Instance Groups](https://user-images.githubusercontent.com/54099545/124240473-118d3980-db1b-11eb-8e18-0fd1f5d4beaf.jpg)

Cheers
William

[2021-07-02 16:09] xroman70 opened #1019 "ProgrammingError: invalid dsn: invalid connection option "channel_binding""
While running : systemctl status temboard-agent@12-main
the following output is shown

[code]

[2021-07-05 06:04] pgiraud commented on #920
Fixed via #924

[2021-07-05 06:04] #920 closed

[2021-07-05 06:04] pgiraud commented on #922
Fixed via #923

[2021-07-05 06:04] #922 closed

[2021-07-13 14:08] vkibit opened #926 "Cannot install Temboard server and Temboard agent (My servers cannot access internet)"
Hi,

is there any detailed way for installing both temboard server and temboard agent by downloading all packages and dependencies without internet access ?
My servers cannot access internet so the installation guide described here https://temboard.readthedocs.io/en/master/temboard-install-sources/
or here https://temboard.readthedocs.io/en/v2/temboard-install-rpm/
does not work for me.

The OS is

[2021-07-15 07:10] bersace commented on #926
Hi @vkibit , it is not documented. Basically, you replace `yum install` by `yum download`, move the packages, then `yum install *.rpm`. I let you see the documentation of yum. Regards

[2021-07-15 07:40] vkibit commented on #926
Hi @bersace,

thank you for response.
I went through that way, it didn't seem to work. Certainly a dependencies' issue.
I will try again.

Regards

[2021-07-19 07:24] vkibit commented on #926
Hi @bersace,

after having installed temboard using python pipe, I have the below output :

[infoger@PF9SOABDM064 ~]$ temboard --version
 INFO: Starting temboard 7.8.
ERROR: Unhandled error:
ERROR: Traceback (most recent call last):
ERROR:   File "/usr/local/lib/python3.6/site-packages/temboardui/toolkit/app.py", line 298, in entrypoint
ERROR:     retcode = self.main(argv, environ)
ERROR:   File "

[2021-08-04 10:28] Mika313 opened #927 "Could not send notification mail"
Hello all,

I configured `notification` section in configuration file but i have this following error when i click on "test email notification button":
[code]
 Hereunder is my configuration file:
[code]
Is there an issue in the configuration?

Temboard version is 7.4

Thanks and Regards.

[2021-08-04 13:51] phoenixhel opened #928 "No data available on monitoring metrics"
Hello Everyone,

I've an issue with temboard metrics. Data can't be shown on monitoring metrics, it's only shows that no data is available.

Best regards,

[2021-08-09 06:44] bersace commented on #926
Hi @vkibit,

The documentation at https://temboard.readthedocs.io/en/v7/installation/ describe how to choose the psycopg2 package and suggests to use `psycopg2-binary` from PyPI.

temBoard should raise a clean error for this.

Regards,
Étienne

[2021-08-09 08:29] wsescu commented on #925
Dear temBoard team

unfortunately, this issue is really limiting us to add more instances to temBoard.
As a workaround, would it be possible to simpy add a row to the table "application.instance_groups" with the relevant data,
or is there a better way to do it?

Cheers
William

[2021-08-10 14:59] bersace commented on #927
Hi @Mika313 thanks for reaching.

you should not protect password with quotes. The quotes are included in the password. Can you try without quotes ?

Regards

[2021-08-10 15:02] bersace commented on #928
Hi @phoenixhel , thanks for reaching.

Do you have some errors in logs ?

[2021-08-10 15:03] bersace commented on #925
Hi @wsescu .

Do you use temboard-agent-register script to register agents ? This will work around this issue for creation, not edition.

Regards.

[2021-08-11 05:44] wsescu commented on #925
Dear @bersace

yes, I know the `temboard-agent-register --groups` command, which accepts a comma separated list of groups.
However, I have the issue with existing instances. Is there really no way, to change this manually for existing instances?

Cheers
William

[2021-08-11 07:38] bersace commented on #925
@wsescu you can use directly the JSON API like this :

[code]

You may be more confortable with httpie.

I have a fix that will land in next 7.X release.

[2021-08-11 07:50] wsescu commented on #925
Dear @bersace

Thanks a lot for showing me a manual way of how to do it.

However, I think I will wait for version 7.9. :-)

Cheers
William

[2021-08-11 09:34] bersace commented on #925
Ok. Closing, waiting for the release. Thanks @wsescu  !

[2021-08-11 09:34] #925 closed

[2021-08-12 13:54] bersace commented on #900
Hi @danielwestermann do you still have this issue with latest version ? We had a bug in a release about SQL files that get fixed. I want to check if this is the same issue.

[2021-08-12 13:57] bersace commented on #898
Hi @jeanloesch the looks like the port of the monitored instance is the same on both agent. Are you sure both agent are configured to monitor different instances ?

[2021-08-12 13:58] bersace commented on #897
Hi @ced75

Do you have messages in agent logs ?

[2021-08-12 13:59] bersace commented on #885
Thanks @bsislow  !

[2021-08-12 14:07] ced75 commented on #897
Hi @bersace ,

Hard to say, since the server has been replaced. Probably a problem of Python version.
On the new server, every monitoring graph is filled correctly.

I close the bug, because it is no more reproducible.

[2021-08-12 14:07] #897 closed

[2021-08-16 06:52] danielwestermann commented on #900
Hi Étienne,

thanks for coming back on this.
All fine with the latest version, thank you.

Best regards,
Daniel

________________________________
From: Étienne BERSAC ***@***.***>
Sent: Thursday, August 12, 2021 15:55
To: dalibo/temboard ***@***.***>
Cc: Daniel Westermann (DWE) ***@***.***>; Mention ***@***.***>
Subject: Re: [dalibo/temboard] ERROR: Invalid temboard_ssl_key_file from config: /etc/

[2021-08-17 08:10] jeanloesch commented on #898
Hi,

Yes I am sure. In fact on the host lyn3e600.tlt, my two instances both listen on port 5432 but each instance uses a different network interface.

Regards.

[2021-08-19 08:55] Krysztophe commented on #876
I've just tried it again. After another migration, the two UIs seems to works.

(Honestly, I don't remember their whole history since November. I may have reinstalled the or the other)

On my server, there was a rights problem:

[code]
The tables were belonging to `postgres`.
I suppose the temboard-migratedb should be run as postgres or root, or that temboard.conf should contain a superuser as `us

[2021-08-30 06:02] #900 closed

[2021-08-30 11:51] bersace commented on #925
Hi @wsescu . I have no date yet.

[2021-08-30 12:03] bersace commented on #876
`auto_configure.sh` always puts temboard role in `temboard.conf.d/auto.conf`. This is what temboard-migratedb uses. `temboard` database and schema are then owned by temboard role. Other scenario comes from old installation or manual intervention.
 We don't have an ownership fixer script.

[2021-08-30 12:06] bersace commented on #898
@jeanloesch so you have two Postgres instances with same hostname, same port but only the `listen_address` differs ? temboard is not able to manage this as monitoring data are identified by (hostname, port) key.

[2021-09-02 14:13] jeanloesch commented on #898
Hi,

Thank you very much for your explanation.

Regards.

[2021-09-02 14:13] #898 closed

[2021-09-03 10:24] MakarovDmitri commented on #899
Hello!
I have a similar problem, but with the "statements" table. The data in it is not cleared, although there is a function to delete data "statements_purge" and the table continues to grow. I have to truncate the cascade of the "statements" table, but the history is lost. Is there a solution to this problem?

[2021-09-25 13:18] bsislow opened #931 "Locking Issues"
The following has been observed more frequently in our PostgreSQL logs:

[code]

We have a lock monitoring script that picked up full content around this time:

[code]

Please advise.

[2021-09-27 09:08] bersace commented on #931
Hi @bsislow . How much instances do you monitor ?

[2021-09-27 13:28] bsislow commented on #931
40 instances at this time.

[2021-09-30 08:38] wsescu commented on #931
I don't have a solution for this issue, only a workaround which I described here: https://ptdb.ch/2021/04/14/postgresql-temboard-workaround-for-the-error-select-from-history_tables/

[2021-09-30 15:15] bsislow commented on #931
Thanks, this is pretty "cool" but I'd like to see if the authors have a fix...

[2021-10-01 05:34] wsescu opened #932 "Feature Request to Support PostgreSQL 14"
Dear temBoard team

I would like to ask for a feature request, to support PostgreSQL 14.

Thanks a lot.

Cheers
William

[2021-10-04 16:58] ced75 opened #933 "Temboard UI server failure after upgrade"
Hi, we have upgraded our temboard server to temboard 7.8 (Debian buster).
The upgraded required to execute temboard-migratedb, which I did as follow:
`sudo -u temboard temboard-migratedb upgrade`

But the script generates the following error message:

 INFO: Found config file /etc/temboard/temboard.conf.
/usr/lib/temboard/lib/python2.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psyco

[2021-10-05 06:48] bersace commented on #933
Hi @ced75 . How did you execute this command ? What is the owner of schema `statements` in temboard database ?

[2021-10-07 07:47] ced75 commented on #933
Hi @bersace

I executed the update command from a sudoer admin user of the Linux server.
The owner of schema statements is postgres.

[2021-10-16 10:16] Mika313 commented on #927
Thank you @wsescu for yout advice.
@bersace i left the project but i will try at the next opportunity.
Thank you all.

[2021-10-20 13:20] ced75 opened #934 "Name or service not known"
Temboard version: 7.8 both on server and agent.
I did a fresh install of temboard-agent on a server, the agent service is active.
But in Temboard web application, when I click on the server, I get the following error:

No particular error on the agent service, but in the temboard server journalctl, I get the following errors:

oct. 20 15:19:42 inv-monitor env[31298]: <urlopen error [Errno -2] Name

[2021-10-20 13:51] #934 closed

[2021-10-21 14:16] daamien commented on #702
Closing this for now as we are foucsing on v7.9 and v8

[2021-10-21 14:56] daamien commented on #675
We closing this. The monitoring feature will probably receive a large oevrhaul in the forthcoming coming versions and flap detection is no longer in our scope.

[2021-10-21 14:56] #675 closed

[2021-10-22 08:15] damienreyre opened #935 "ValueError: Invalid FQDN: XXX.XXX.XXX.XXX"
Hello,

OS : Debian 11.1
temBoard : 7.8
temBoard-agent : 7.8

Since few days, I have a problem with my temboard-agent.
In my logs, I can see an error :

`2021-10-22 09:51:08,500 temboardagent[21582]: [taskmanager] ERROR:     data = metrics.get_metrics(app)
2021-10-22 09:51:08,500 temboardagent[21582]: [taskmanager] ERROR:   File "/usr/lib/python3/dist-packages/temboardagent/plugins/dashboard/metri

[2021-11-04 08:29] damienreyre commented on #935
@daamien Hello Damien, do you have an idea about its problem ?
Thanks.

[2021-11-09 11:20] bersace commented on #932
Done in #936, waiting for next release. Thanks @wsescu

[2021-11-09 11:20] #932 closed

[2021-11-09 13:49] bersace commented on #931
@wsescu , history_tables is called every 3 hours. Can you ensure that this is properly executed ?

[2021-11-09 14:13] wsescu commented on #931
Indeed. It is running every 3 hours.

[code]

[2021-11-09 14:22] wsescu commented on #931
Sure. Attached is log.

[code]

[2021-11-09 14:27] bersace commented on #931
Thanks @wsescu ! Do you have a clue about locks ? Maybe in temBoard activity.

[2021-11-10 08:17] bersace commented on #931
Hi @wsescu would you mind to send us full logs from temboard start up to the first occurence of this error ? my mail is etienne DOT bersac AT dalibo DOT com

[2021-11-10 08:42] wsescu commented on #931
Sure, have send you the log file. Cheers, William

[2021-11-10 08:44] wsescu commented on #931
Not sure if this is relevant, but I am running temBoard version 7.8, and the repository is PostgreSQL 12.8.

[code]

[2021-11-10 08:54] wsescu commented on #903
I do have the same issue. Whenever there is a role change, the "Status Streaming replication connection" goes to UNDEF on the new Primary.

[2021-11-12 14:27] damienreyre commented on #935
Problem was double configuration : one by default and one by myself.

[2021-11-12 14:27] #935 closed

[2021-11-15 10:40] ced75 commented on #928
Hi,

I face exactly the same problem since last temboard 7.8 upgrade.
But there is no particular error in temboard-agent logs.

On Temboard server, I get the following errors:

nov. 15 11:39:46 inv-monitor env[31298]: HTTP Error 404: Not Found
nov. 15 11:39:46 inv-monitor env[31298]: Traceback (most recent call last):
nov. 15 11:39:46 inv-monitor env[31298]:   File "/usr/lib/temboard/lib/python2.7

[2021-11-15 10:44] bersace commented on #928
@ced75 pg_stat_statement is not enabled on monitored PostgreSQL instance, Could you ensure the configuration is ok and extension is created ? see https://www.postgresql.org/docs/current/pgstatstatements.html for details on how to enable this extension.

[2021-11-15 12:28] ced75 commented on #928
Done, but the metrics remain empty with "No data available".

[2021-11-15 13:16] bersace commented on #928
@ced75 do you have other errors in agent and UI logs ?

[2021-11-15 13:23] ced75 commented on #928
Unfortunately, no.
Neither in UI logs, nor in agent logs.
Sorry.

[2021-11-23 13:20] bersace commented on #684
This may be similar to #931 but this time for aggregation.

[2021-11-24 09:35] jeanloesch commented on #899
Hi,

Yes indeed. Those two issues are related.
According to what I can read, the bug will be fixed in version 7.9, right ?

Regards.

[2021-11-24 10:07] bersace commented on #899
@jeanloesch Yep !

[2021-11-29 11:55] dgiffin opened #941 "Metrics not being collected after client host reboot"
Version 7.6

We had a host crash/reboot, PG and the temboard-agent came up fine as expected but in the temboard dashboard I can't see any metrics displayed since the restart. I can't see any obvious errors in either the temboard-agent or the temboard logs. Any suggestions as to how I can troubleshoot this?

[2021-11-29 14:02] bersace commented on #941
Hi @dgiffin . Do you have something in temBoard UI logs ?

[2021-11-29 15:00] bsislow commented on #941
Can you provide an email address to send logs to for review?

[2021-11-29 15:01] bersace commented on #941
@bsislow yep : etienne DOT bersac AT dalibo DOT com

[2021-11-30 09:15] dgiffin commented on #941
Thanks Etienne, I've emailed the logs.

[2021-12-03 08:33] daamien opened #942 "Merging the docs"

[2021-12-06 15:09] bsislow commented on #941
Any update? Should we reinstall the agent?

[2021-12-07 07:56] bersace commented on #941
@bsislow yep, i don't see any errors, that's odd and need further investigation I can't remotely.

[2021-12-07 14:46] bsislow commented on #941
I've removed the agent and redeployed it... **same issue**. Please advise, this is urgent...

[2021-12-07 14:47] bsislow commented on #941
Examples of the issue:
![image](https://user-images.githubusercontent.com/30243584/145050607-8c1ddb93-39bf-424c-8918-990ca5331152.png)
![image](https://user-images.githubusercontent.com/30243584/145050655-81c900ee-2608-424c-8a00-b435705534bd.png)
![image](https://user-images.githubusercontent.com/30243584/145050787-1e345917-8bad-465b-9654-c184c1c2804f.png)

[2021-12-07 14:50] bersace commented on #941
Do you have errors in web console of the browser ?

[2021-12-07 14:51] bsislow commented on #941
No, none. Do you need a new log sent to your email?

[2021-12-07 14:54] bsislow commented on #941
I am seeing this in the temboard (not agent) logs now. When I removed the agent, I purged (`/usr/share/temboard-agent/purge.sh`) it and also deleted it (Instances) from the dashboard.

[code]

[2021-12-07 15:00] bersace commented on #941
This errors means the monitoring plugin in UI never got data for this host.

Can you send me debug log of agent, for about 20 minutes of activity at least ? I don't see *any* monitoring task scheduled in the debug log you sent me.

[2021-12-07 15:04] bsislow commented on #941
Emailed.

[2021-12-09 19:32] bsislow commented on #941
FYI - this is now happening on another agent host; no data after reboot.
I will get back to you shortly with UI logs via email...

[2021-12-10 16:03] bsislow commented on #941
Newest logs sent with `DEBUG` for UI.

Also, I restarted the temboard UI to change the logging from `INFO` to `DEBUG` and that miraculously started populating monitoring charts...

For example (6 hours):
![image](https://user-images.githubusercontent.com/30243584/145603998-29894387-de7b-4ecf-8849-098fba461d11.png)

However, and this server has been around for several years, 30 days' of history is

[2021-12-13 09:57] daamien opened #946 "[doc] Upgrade PostgreSQL"
Related :

*  #676
* #775

[2021-12-13 15:50] bsislow commented on #941
I will turn `DEBUG` back on for the UI.

We will try to reproduce this.

[2021-12-14 15:28] bsislow opened #998 "Remove UNDEF "Streaming replication connection" Status After Role Change to Primary"

[2021-12-16 09:30] wahyubudiman commented on #928
i have same issue, any update for this ?

[2021-12-17 09:53] daamien opened #948 "[doc] Server upgrade 7.9"

[2021-12-17 10:15] #948 closed

[2021-12-17 10:15] #942 closed

[2021-12-20 08:24] bersace commented on #928
Is this related to #941 ?

[2021-12-20 08:58] bersace commented on #946
Doublon #905  ?

[2021-12-20 13:29] #931 closed

[2021-12-20 16:54] ced75 commented on #928
Unfortunately, no. We did not notice any crash/reboot. Just an upgrade.

[2021-12-23 02:47] fathoniinsansilmi opened #952 "Statements didnt show up data or records on Temboard UI"
![Screenshot 2021-12-23 093149](https://user-images.githubusercontent.com/89531166/147178929-3b249362-c7e4-4261-a54a-7bad49b18720.png)
Hello friends i have an issue as u can see, page Statements on Temboard UI didnt show any data or records, and i did set preload libraries and enable pg_stat_statement already. Is there solution for my issue? Thanks

[2021-12-23 09:32] bersace commented on #952
Hi @fathoniinsansilmi , do you have some information in logs ? In both agent and UI ?

[2021-12-23 12:16] daamien commented on #946
yes :)

[2021-12-23 12:16] #946 closed

[2021-12-24 03:45] fathoniinsansilmi commented on #952
yes i do have logs both agen and ui
here it is

agent log

2021-12-24 10:33:26,011 temboardagent[11781]: [httpd] ERROR: {'error': 'Invalid session.'}
2021-12-24 10:33:26,011 temboardagent[11781]: [httpd] ERROR: Traceback (most recent call last):
2021-12-24 10:33:26,011 temboardagent[11781]: [httpd] ERROR:   File "/usr/lib/python3.6/site-packages/temboardagent/api.py", line 36, in check_sessionid
2

[2021-12-24 14:03] #904 closed

[2021-12-24 14:04] daamien commented on #926
a new "offline installation" section was added to the documentation

[2021-12-24 14:04] #926 closed

[2021-12-24 14:46] daamien opened #955 "Refresh the instance version from the server settings page"
The problem:

* User updates a postgres instance to the latest minor version.
* The server continues to show the old minor version

Solution:

* Adding a 'refresh' button on the /settings/instances page
* placed between "edit" and "delete"

[2021-12-24 14:47] #905 closed

[2021-12-24 14:51] daamien opened #956 "Release 7.9"

[2021-12-24 15:18] daamien opened #958 "Merge v7 branch to master"

[2021-12-27 08:47] bersace commented on #952
@fathoniinsansilmi what is the output of temboard --version ?

[2021-12-27 08:52] fathoniinsansilmi commented on #952
sudo temboard --version
 INFO: Starting temboard 7.7.
temBoard 7.7
System Ubuntu 18.04.5 LTS (Bionic Beaver)
Python 2.7.17 (/usr/bin/python)
psycopg2 2.8.6 (dt dec pq3 ext lo64)
Tornado 4.5.3
SQLAlchemy 1.4.18
alembic 1.6.5

sudo temboard-agent --version
[sudo] password for ngufathoni:
 INFO: Starting temboard-agent 7.8.
7.8

[2021-12-27 09:03] bersace commented on #952
Thanks. What is the output of `DEBUG=Y temboard-migratedb check` ?

[2021-12-27 09:30] fathoniinsansilmi commented on #952
where should i execute this command?

[2021-12-27 09:34] bersace commented on #952
In the same environment and user as the temboard service.

[2021-12-27 09:47] fathoniinsansilmi commented on #952
ngufathoni@gateway:~$ export DEBUG=Y
ngufathoni@gateway:~$ temboard-migratedb check
2021-12-27 16:47:35,546 [11511] [app             ]  INFO: Starting temboard-migratedb 7.7.
2021-12-27 16:47:35,550 [11511] [app             ]  INFO: No config file found.
2021-12-27 16:47:35,566 [11511] [migratedb       ] DEBUG: Using Python 2.7.17 (/usr/bin/python).
2021-12-27 16:47:35,567 [11511] [migratedb

[2021-12-27 10:00] bersace commented on #952
[code]

[2021-12-27 10:03] fathoniinsansilmi commented on #952
ngufathoni@gateway:~$ sudo -u temboard temboard-migratedb check
 INFO: Starting temboard-migratedb 7.7.
 INFO: Found config file /etc/temboard/temboard.conf.
 INFO: temBoard database is up-to-date.

[2021-12-27 10:04] bersace commented on #952
Your temboard database seems corrupted. In temboard database, what is the output of `\d` in psql ?

[2021-12-27 10:07] fathoniinsansilmi commented on #952
postgres=# \d
                  List of relations
 Schema |         Name         |   Type   |  Owner
--------+----------------------+----------+----------
 public | accounts             | table    | postgres
 public | accounts_user_id_seq | sequence | postgres
 public | pg_stat_statements   | view     | postgres
 public | roles                | table    | postgres
 public | roles2               |

[2021-12-27 10:12] bersace commented on #952
[code]

[2021-12-27 10:17] fathoniinsansilmi commented on #952
temboard database doesn't exist, should i create it?

[2021-12-27 10:31] bersace commented on #952
@fathoniinsansilmi no. Use the database found by temboard in its configuration. Did you use `auto_configure.sh` ?

[2021-12-28 02:49] fathoniinsansilmi commented on #952
oh u mean psql on same environment temboard service,
sory i thought that was supposed to execute on temboard-agent,

temboard=# \d
Did not find any relations.
temboard=# \dn+
                            List of schemas
    Name     |  Owner   |  Access privileges   |      Description
-------------+----------+----------------------+------------------------
 application | postgres | postgres=UC/post

[2021-12-28 08:25] bersace commented on #952
That's odd. You're database miss some database.

If you don't mind resetting statements data, you can reexecute `/usr/lib/temboard/lib/python2.7/site-packages/temboardui/model/alembic/versions/statements.sql` with psql, in `temboard` database.

[code]

[2021-12-28 09:01] bersace commented on #928
@ced75 Could you upgrade UI to 7.9 ? It has improved message logging for such issues.

[2021-12-28 10:55] #958 closed

[2022-01-03 08:34] #956 closed

[2022-01-03 17:00] bsislow commented on #931
Hello - now the workaround posted below is not working...
https://ptdb.ch/2021/04/14/postgresql-temboard-workaround-for-the-error-select-from-history_tables/

Please advise.

[2022-01-04 09:13] wsescu commented on #931
Dear bsislow

yes, starting with temBoard version 7.9, the history_tables function does not exist anymore.
It is dropped during the "temboard-migratedb upgrade" run.

DROP FUNCTION IF EXISTS history_tables();

So, starting with 7.9 you don't need the workaround anymore.

Cheers
William

[2022-01-04 14:32] wsescu opened #962 "Can not update instance group properties since temBoard update to 7.9"
Dear Dalibo team

since the update to temBoard version 7.9, I can not select any user groups any more.

![image](https://user-images.githubusercontent.com/54099545/148074267-ad18ad91-8ed0-4a10-a0f8-d5b99c71d7dd.png)

If you click on User groups, you can not select any new group anymore. Have testet different browsers, and had the same issue with all of them.

Cheers
William

[2022-01-04 14:43] wsescu opened #963 "Huge load increase since update to temBoard 7.9"
Dear Dalibo team

since the update to temBoard 7.9, I have seen a load increase from any average of 4 to an average of a about 20.
That's about a 5 fold increase.

The main CPU intensive SQL Statements are

![image](https://user-images.githubusercontent.com/54099545/148076014-a86e707c-dc72-4f27-b129-f45601a1d53f.png)

Cheers
William

[2022-01-05 05:55] wsescu commented on #963
Maybe it has to do with the following errors that I see in the PostgreSQL log file.

[code]

[2022-01-05 07:35] wsescu commented on #963
And in the temboard.log file, I do see a lot of ERROR messages like the following:

[code]

[2022-01-05 09:08] ced75 commented on #928
Hi,

I get a list of errors on UI server when I try to upgrade the DB as explained in documentation.
The service is stopped, I performed the apt package upgrade, and when I try to apply:
`sudo -u temboard temboard-migratedb upgrade`

I get this list of errors:

This seems to be related to the objects owner in temboard DB, isn't it?

[2022-01-05 09:18] ced75 commented on #928
When I reinstalled temboard UI on the monitoring server, I used the standard procedure described in the documentation.
In the temboard database, it is "postgres" user which is owner of all objects.

I understand better the error message when the upgradedb command is launched as temboard user, if the script launches the upgrade in PostgreSQL as "temboard"...
Is it the case?

[2022-01-06 04:17] wahyubudiman commented on #952
Hi @bersace , do we need upgrade version first before execute this command:
$ sudo -u temboard psql -f /usr/lib/temboard/lib/python2.7/site-packages/temboardui/model/alembic/versions/statements.sql

[2022-01-06 23:36] Kerthmash commented on #612
This has been open for quite some time. has there been any movement on excluding virtual volumes from temboard, I too am seeing alerts on all servers due to the mounted snap volumes.

[2022-01-10 07:47] bersace commented on #612
Hi @Kerthmash, can you share a mount line for a snap volume ? 7.9 has improvements on this matter. We can tweak this further.

[2022-01-10 11:26] daamien commented on #963
@wsescu: Thanks for the report, we'll study this and let you know

[2022-01-10 11:37] daamien commented on #962
Thanks ! I can reproduce the problem, the issue also appears with the "user groups" selector in the "Update user properties" window

However the "Instance groups" selector works fine in the "Update instance properties" window

[2022-01-10 13:13] Kerthmash commented on #612
certainly,  See the attached screenshot:
![volumes](https://user-images.githubusercontent.com/45573603/148771783-e877ba7f-33b9-4a4a-a986-1e8bf822caf9.png)

[2022-01-10 13:16] bersace commented on #963
@wsescu can you share the full output of `temboard --version` ?

[2022-01-10 13:33] wsescu commented on #963
Sure. Attached is the output.

[code]

[2022-01-10 16:32] bersace commented on #612
Ok, I suggest that temBoard ignores loopback devices.

[2022-01-11 06:10] fathoniinsansilmi commented on #952
Hi @bersace  , do we need upgrade version first before execute this command:
$ sudo -u temboard psql -f /usr/lib/temboard/lib/python2.7/site-packages/temboardui/model/alembic/versions/statements.sql

[2022-01-11 09:12] daamien commented on #962
@wsescu : what was your previous version ? Did you upgrade from 7.8 or an earlier version ?

[2022-01-11 09:15] wsescu commented on #962
Dear @daamien

yes, I did an upgrade from 7.8 to 7.9.

Cheers, William

[2022-01-11 16:53] bersace commented on #928
I confirm the bug.

[2022-01-11 16:54] bersace commented on #928
@ced75 you need to fix ownership of temboard database objects to temboard.

[2022-01-12 01:58] Kerthmash commented on #612
Just to confirm, are you saying that this is possible in version 7.9? or that it will be a future enhancement?

[2022-01-12 06:56] ced75 commented on #928
Have you any procedure to achieve this. I can't apply a "reassign owned by postgres to temboard;" because of system objects that can't by reassigned.
There are many schemas and objects inside schemas.

[2022-01-12 15:03] ced75 commented on #928
OK, after having applied https://github.com/bersace/temboard/blob/repository/share/reassign.sql, the database upgrade worked and the temboard service is now started again.
And now, with temboard 7.9 UI and agents, monitoring metrics are back.

Thanks very much!

[2022-01-12 15:20] bersace commented on #612
@Kerthmash 7.9 ignores network mount point and some kinds of filesystem like overlay. It does not ignore loopback device. I suggest to ignore all loopback devices in next release. What do you think of this ?

[2022-01-12 15:22] bersace commented on #962
I don't know why, but the javascript tooltip flickers and breaks a lot of dropdown selectors.

[2022-01-12 16:48] bersace commented on #952
@fathoniinsansilmi your temBoard database is inconsistent. Can you restart from scratch ?

[2022-01-13 08:49] bersace commented on #963
@wsescu , I can't reproduce :

[code]

What is the output of :

[code]

Regards

[2022-01-13 08:54] wsescu commented on #963
Dear @bersace

attached is the output.
[code]

Cheers, William

[2022-01-13 09:39] bersace commented on #963
Thanks @wsescu, the output is ok. I don't understand why temBoard calls archive_current_metrics(unknown, unknown, unknown) instead of archive_current_metrics(text, text, text).

I search a workaround.

[2022-01-13 09:46] bersace commented on #963
@wsescu what is the encoding of temboard database ?

[code]

[2022-01-13 09:51] wsescu commented on #963
Dear @bersace

Thanks for searching for a workaround. In case you need any temBoard or PostgreSQL logs files, feel free to request them.
I can send them to you directly.

In regards to the character set, we haven't changed anything. It is the same as in the beginning.

[code]

Cheers,
William

[2022-01-14 16:06] wsescu commented on #963
Dear @bersace

I have tried the following workaround, but unfortunately, it didn't help. I still have the same high load on the system.

[code]

Cheers
William

[2022-01-14 16:07] wsescu commented on #963
In regards to the query, it always comes back with the following error:

[code]

[2022-01-14 16:21] bersace commented on #963
@wsescu thanks for the feedback. Can you investigate the lock owner ?

[2022-01-15 12:13] Kerthmash commented on #612
I think that will be a welcome addition.  the way it is currently, the loopback devices are constantly in an alarm state, as the monitor thinks the drives are full.

[2022-01-17 07:35] wsescu commented on #963
Dear @bersace

I ran \watch 0.2 with the query from https://wiki.postgresql.org/wiki/Lock_Monitoring
and got the following output.

[code]

Cheers
William

[2022-01-17 13:32] bersace commented on #612
@Kerthmash see https://github.com/dalibo/temboard-agent/pull/552

[2022-01-19 13:30] dgiffin commented on #903
Any updates on this? A way to clear the "UNDEF" status and/or remove the metric?

[2022-01-20 15:52] bersace commented on #903
You can ignore montoring.instances standby column.

Here is the behaviour I have after a switchover:

- primary has replication_lag UNDEF, wal files total and wal files ready OK
- secondary has replication_lag OK, wal files total and wal files ready UNDEF.

If i do another switchover, the probes consistently goes up or UNDEF.

What do you expect ?

[2022-01-21 14:47] bersace commented on #612
Will be in next release. Thanks @Kerthmash for the feedback.

[2022-01-21 14:47] #612 closed

[2022-01-21 14:48] bersace commented on #962
Will be in next release.

[2022-01-21 14:48] #962 closed

[2022-01-21 15:07] bersace commented on #963
Hi @wsescu can you time the `INSERT INTO monitoring.metric_locks_current` statements ? Using postgres logs ? Regards.

[2022-01-21 15:08] bersace commented on #963
Sorry, I meant : can you time statements `SELECT * FROM archive_current_metrics...`  ?

[2022-01-21 15:17] bersace commented on #963
I accidentaly reproduced the following error:

[code]

But I don't know how ! Investigating.

[2022-01-21 15:42] bersace commented on #963
Got it. The search_path is lost when an error occured. I have a fix !

[2022-01-23 10:00] fahadshery opened #978 "temboard UI using Docker"
Hi,

I really liked your project and thank you for your efforts for making it public!

I have a few postgres servers running over `FreeBSD`.
I have also some Ubuntu servers running docker for monitoring purposes.

I was wondering if its possible to run the temboard agent on FreeBSD?
Then setup the GUI using docker?

Cheers,

[2022-01-23 10:18] fahadshery opened #979 "installation fails freebsd"
Hi,

I am trying to install temboard on the postgres server:
[code]
when I run:
[code]
I am getting the following error:
[code]
I do have the `libc.so` on the system though:
[code]

how do I fix this issue?
thanks

[2022-01-24 07:39] bersace commented on #979
Hi @fahadshery , thanks for reaching.

I'm sorry for you We do not support BSD as a target for executing temBoard. Maybe could we add support for BSD to temBoard agent one time, but again, our priority is otherway.

Porting the UI way be a quickwin, but not the agent monitoring code as of now. Do you have a workaround ?

I suggest to keep this issue open so as to keep this in mind.

Regards,

[2022-01-24 09:55] wsescu commented on #963
Dear @bersace

Thanks for the search_path fix. :-)

Do you know when temBoard 7.10 will be available?

Cheers, William

[2022-01-24 09:56] bersace commented on #963
Hi @wsescu. Expect it for mid-february. We'll release an RC soon.

[2022-01-24 10:27] wsescu commented on #963
Dear @bersace

as a quick workaround, can I just stop temboard, change the file

`temboardui/plugins/monitoring/__init__.py`

and add your fix

[code]

and then start temboard again. Would that work?

Cheers
William

[2022-01-24 10:35] bersace commented on #963
@wsescu yes.

[2022-01-25 07:19] wsescu commented on #963
Dear @bersace

I have done the following change, and that one fixed the "Failed to archive data" error. Thanks.

[code]

However, in regards to the load it is still very high. It went down from an average of 20 to about 17.

Cheers
William

[2022-01-25 08:09] bersace commented on #963
@wsescu thanks for the feedback. Can you investigate which process is increasing the load ? I suspect a herd of forks to handle monitoring of all instances. I need feedback on this. Thanks.

[2022-01-25 08:19] wsescu commented on #963
It is mostly related to the following statements.

[code]

[2022-01-25 08:24] wsescu commented on #963
These are the 3 top consuming SQL statements.

[code]

[2022-01-25 08:25] bersace commented on #963
@wsescu do you mean that postgres is responsible of the load increase ? Or is it a Python process ?

[2022-01-25 08:29] wsescu commented on #963
Dear @bersace

it's the temBoard Gui running these SQL's. Like the one's mentioned above.
There is absolutely nothing else running on that PostgreSQL instance, and the instance is the only one
running on that VM.

Cheers
William

[2022-01-25 08:36] bersace commented on #963
I don't understand clearly. Is the system spending time in Python or in PostgreSQL ? Something like top should help.

[2022-01-25 08:43] wsescu commented on #963
It is actually both. But SQL's in PostgreSQL are higher.

[code]

[2022-01-25 08:47] wsescu commented on #963
And especially, SQL queries related to filesystem metrics are hitting the DB quite hard.
This is something that I have observed. Like the following WITH and INSERT statement.

[code]

[2022-01-25 09:32] bersace commented on #963
@wsescu could you share an explain analyze of such queries or user auto_explain ?

[2022-01-25 10:08] wsescu commented on #963
OK. Have implemented auto_explain.  Will post the execution plan, as soon as I catch the statments.

[code]

[2022-01-25 10:34] dgiffin commented on #903
I want to know how I stop the Streaming Replication Connection from showing UNDEF

[2022-01-25 12:25] bersace commented on #903
@dgiffin you can't, UNDEF means disabled. What would you prefer ? DISABLED ? totally hidden ? Do you have an issue other than visuel distraction ?

[2022-01-25 13:16] wsescu commented on #963
Dear @bersace

have send you an email with the log file.

Cheers, William

[2022-01-27 11:55] dgiffin commented on #903
Certainly the visual distraction on the home page, it puts the cluster closer to the "top" of the list compared to other clusters with no issues but also I don't understand why our other clusters what don't use streaming replication also aren't showing this, and they are not.

[2022-01-28 13:58] bersace commented on #978
We plan to make UI cloud native, and agent too. Thus you may execute agent remotely. We don't have yet plan to support FreeBSD, but that's a cool OS well supported by PostgreSQL, we should support it one day, once we have made temBoard cloud native.

[2022-02-07 03:42] rizkymeidi commented on #952
Hi @bersace i create new temboard UI with 7.9 version, first day statement shows the graph, but next day until now statement not showing any graph again. Any solution for this issue?

[2022-02-21 16:30] bersace commented on #963
Hi @wsescu , 7.10 final is there and everything should be fine. Can you test and confirm this ?

[2022-02-22 14:32] bersace commented on #952
Hi @rizkymeidi can you upgrade to 7.10 ?

[2022-02-24 00:09] bsislow opened #1022 "temboard-agent 7.10 probe for heap bloat using temporary files for sorting"
the following appears to be a new query for heap bloat probing. the system this is running on has many partitions (over 6300). i assume this is related; our other systems aren't experiencing this issue.

[code]

[2022-02-24 01:05] bsislow opened #1021 "Streaming Replication is showing as UNDEF for all targets after upgrade to 7.10"
per the subject, all of our replica targets are showing as UNDEF after an upgrade to 7.10...

![image](https://user-images.githubusercontent.com/30243584/155437154-255c1b5f-c8bc-4a8e-bf21-450c1fbf9e25.png)

i see this repeating in `/var/log/messages`:

[code]

[2022-02-24 08:33] egaultier opened #1020 "Error Invalid Key - After upgrade 7.10"

[2022-02-24 20:13] #1022 closed

[2022-02-25 08:53] ayadahm opened #990 "docker errors"
Hi
when trying the docker quickstart , got these errors

docker: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by docker)
agent12_1     | docker: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.34' not found (required by docker)

am I missing something

[2022-02-25 09:26] bersace commented on #990
Hi @ayadahm what distribution are you using ? What is the version of your kernel ?

[2022-02-25 09:40] ayadahm commented on #990
OS: Ubuntu 21.10 x86_64

   Kernel: 5.13.0-30-generic

[2022-02-25 11:36] ayadahm commented on #990
docker ps give these where you can see that the ui is not started

CONTAINER ID   IMAGE                   COMMAND                  CREATED       STATUS       PORTS                                       NAMES
2b141f4d996a   dalibo/temboard-agent   "docker-entrypoint.s…"   3 hours ago   Up 3 hours                                               downloads_agent12_1
c53864e48b5e   dalibo/temboard-agent

[2022-02-25 14:32] clmntpllr commented on #896
Hello,
I've upgraded both the UI and agents to 7.10.
And everything went back to a normal state ;)

[2022-02-25 14:32] #896 closed

[2022-02-25 14:34] bersace commented on #896
Super !

[2022-02-25 14:36] egaultier opened #991 "Error during upgarde to 7.10"
Hi

When I execute this command  sudo -u temboard temboard-migratedb upgrade

I have this error :

INFO: Starting temboard-migratedb 7.10.
 INFO: Found config file /etc/temboard/temboard.conf.
 INFO: Running on Red Hat Enterprise Linux Server 7.9 (Maipo).
 INFO: Using Python 2.7.5 (/usr/bin/python) and Tornado 4.2.1 .
 INFO: Using libpq 13.5, Psycopg2 2.8.6 (dt dec pq3 ext lo64) and SQLAlchemy 0.9

[2022-02-25 14:37] bersace commented on #991
Hi @egaultier . You need to execute `/usr/share/temboard/sql/reassign.sql` as postgres user to fix permissions. Then rerun temboard-migratedb.

[2022-02-25 14:49] egaultier commented on #991
Thank you for your quickly answer.

Now It's ok with this 2 commands.

Emmanuel

[2022-02-25 14:49] #991 closed

[2022-02-28 16:36] ALidghi opened #994 "Quickstart docker UI app not launching on Apple M1"
After this 'wget https://raw.githubusercontent.com/dalibo/temboard/master/docker/docker-compose.yml
docker-compose up' command, all conatainers are running except the UI one so that Temboard UI adress : https://0.0.0.0:8888/ is not working. Does anyone else has the same issue ?

Update :
I think it is because I am trying to run the container on a M1 mac processor according to this forum : https://

[2022-02-28 16:41] bersace commented on #994
Looks like a duplicate of #990

[2022-02-28 16:47] ALidghi commented on #994
Not exactly, I have this issue :
me-ui-1          | runtime: failed to create new OS thread (have 2 already; errno=22)
me-ui-1          | fatal error: newosproc

[2022-03-01 08:38] bersace commented on #963
Huge performance improvement in #989 . We didn't decide yet wheter we'll release a 7.11 with such backported patches.

[2022-03-01 10:34] bersace commented on #990
Could you run `docker-compose pull` and retry ?

[2022-03-01 10:34] bersace commented on #994
Could you run `docker-compose pull` and retry ?

[2022-03-01 11:31] ayadahm commented on #990
Same error.

[2022-03-01 11:31] ALidghi commented on #994
The UI works this time ! Thank you very much :)
But I don't have any instance :
<img width="1440" alt="Capture d’écran 2022-03-01 à 12 23 09" src="https://user-images.githubusercontent.com/93667686/156160529-b41272c5-7869-4dde-82be-ccb8f8a401bb.png">

Is it normal ?

e

[2022-03-01 13:59] bersace commented on #994
@ALidghi What's in docker-compose logs agent13 ?

[2022-03-01 14:01] bersace commented on #990
What is the output of `docker-compose logs ui` ?

[2022-03-01 15:21] ALidghi commented on #994
+ trap catchall INT EXIT TERM

+ '[' 0 = 0 ']'

++ stat -c %u /var/lib/postgresql/data

+ POSTGRES_UID=999

++ stat -c %g /var/lib/postgresql/data

+ POSTGRES_GID=999

+ getent passwd postgres

+ groupadd --system --gid 999 postgres

+ useradd --system --home-dir /var/lib/postgresql --no-create-home --uid 999 --gid postgres --shell /bin/bash postgres

+ chown -R postgres: /var/lib/postgresql /etc/

[2022-03-01 15:29] ALidghi commented on #994
I also have these error messages :

 INFO: Starting temboard-migratedb 8.0.dev0.
me-ui-1          |  INFO: Found config file /etc/temboard/temboard.conf.
me-ui-1          |  INFO: Running on Debian GNU/Linux 11 (bullseye).
me-ui-1          |  INFO: Using Python 3.7.12 (/usr/local/bin/python) and Tornado 6.1 .
me-ui-1          |  INFO: Using libpq 14.1, Psycopg2 2.9.3 (dt dec pq3 ext lo64) and SQLA

[2022-03-01 15:43] #1021 closed, assigned to nobody

[2022-03-02 09:04] bersace commented on #952
Hi @fathoniinsansilmi Yes, temBoard UI 7.9 is compatible with agent 7.10. However, I strongly suggest you to use temBoard UI 7.10.

[2022-03-02 09:07] #928 closed

[2022-03-02 09:08] bersace commented on #902
We need a 'canonical_url' parameter to handle this and situation such as reverse proxy.

[2022-03-02 09:19] ccalimeero opened #996 "Undefined metrics after agent upgrade in 7.10 version"
Hi,

After upgrade agent in from 7.5 to 7.10 version on an postgresql 11 database server many metric return undefined values.

    Btree Index bloat ratio
    Heap bloat ratio
    temporary files size

I dont find any error in agent log file :

[code]

no more errors in temboard UI log file :

[code]

I tried to delete the instance to re-register it later in the Temboard console but that does not

[2022-03-02 09:40] fathoniinsansilmi opened #997 "cannot connect to postgresql with pg_hba condition that UNIX socket state was rejected."
"local" is for Unix domain socket connections only
local   all             all                                     reject

any solution for this condition to monitoring db in temboard?
agent 7.10
temboard ui 7.10

[2022-03-02 09:43] bersace commented on #997
Hi @fathoniinsansilmi . As of now, temboard agent requires superuser access using local UNIX socket only. It's common to restrict superuser access to local socket.

[2022-03-02 13:00] ALidghi commented on #994
I still have the same issue after updating. Maybe I should create the instances myself ?

[2022-03-02 13:13] bersace commented on #996
Yep, the missing comma is fixed in https://github.com/dalibo/temboard-agent/issues/567

[2022-03-02 13:26] ccalimeero commented on #996
Thanks a lot Etienne, don't see this topic sorry.

Everything is ok for me i close the topic.

Cyril

[2022-03-02 13:26] #996 closed

[2022-03-02 14:24] bersace commented on #994
@ALidghi can you share the logs of agent13 ?

[2022-03-02 15:31] ALidghi commented on #994
PostgreSQL Database directory appears to contain a database; Skipping initialization

2022-03-02 15:27:52.741 UTC [1] LOG:  starting PostgreSQL 13.6 (Debian 13.6-1.pgdg110+1) on aarch64-unknown-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit

2022-03-02 15:27:52.744 UTC [1] LOG:  listening on IPv4 address "0.0.0.0", port 5432

2022-03-02 15:27:52.744 UTC [1] LOG:  listening on

[2022-03-03 07:51] bersace commented on #994
@ALidghi ok, this is postgres logs. What's the output of `docker-compose logs agent13` ?

[2022-03-03 07:55] bersace commented on #899
Hi @jeanloesch & @MakarovDmitri Can you confirm this is fixed in 7.10 ?

[2022-03-03 08:47] bersace commented on #693
There is an undocumented JSON API at /json/settings.  Here is a Python client API based on this JSON API :

https://gitlab.com/dalibo/cornac/-/blob/master/service/cornac/temboard.py

[2022-03-03 08:50] bersace commented on #668
Hi @bsislow can you confirm this bug still occurs in temboard agent 7.10 ? A lot of things has evolved regarding connexions handling.

[2022-03-03 08:55] bersace commented on #670
Hi @bsislow . 7.9 splits aggregate_data() in chunk. Do you still have this issue with 7.10 ?

[2022-03-03 08:56] bersace commented on #311
Note: It's about presenting errors to user in web interface.

[2022-03-03 09:03] ALidghi commented on #994
Sorry this is the output of docker-compose logs agent13

(base) ➜  ~ docker-compose logs agent13
abdellahlidghi-agent13-1  | + '[' 0 = 0 ']'
abdellahlidghi-agent13-1  | ++ stat -c %u /var/lib/postgresql/data
abdellahlidghi-agent13-1  | + POSTGRES_UID=999
abdellahlidghi-agent13-1  | ++ stat -c %g /var/lib/postgresql/data
abdellahlidghi-agent13-1  | + POSTGRES_GID=999
abdellahlidghi-agent13-1  | + g

[2022-03-03 09:15] wsescu commented on #684
Dear @bersace
Thanks. This one is fixed.
Cheers, William

[2022-03-03 09:16] bersace commented on #684
Great. Closing.

[2022-03-03 09:16] #684 closed

[2022-03-03 09:30] bersace commented on #777
Hi @jeanloesch do you have updates on this issue ? I confirm your understanding of temBoard architecture. You only need an agent per instance you want to monitor. temBoard UI can store its data in an unmanaged instance. temBoard UI does not need an agent to store data in a Postgres instance.

[2022-03-03 09:31] bersace commented on #903
@dgiffin we need to design a better handling of such change in fleet.

[2022-03-03 09:55] ALidghi commented on #994
lrwxr-xr-x  1 root  daemon  45 25 jan 17:18 /var/run/docker.sock -> /Users/me/.docker/run/docker.sock

[2022-03-03 10:14] bersace commented on #998
Hi @bsislow . This is by design. If a check has ever been defined, it is shown as undef once it's disabled. We can't distinguish a check with no data because it is now useless and a check that has no data because of an error or a misconfiguration. We need to review the design for this.

[2022-03-03 10:16] bersace commented on #994
Thanks. What is the output of `namei -om /usr/bin/docker` ?

[2022-03-03 12:53] daamien commented on #997
TODO: add a explanation about this in the documentation here:

https://temboard.readthedocs.io/en/latest/agent_configure/#postgresql-section

[2022-03-03 13:22] ALidghi commented on #994
I don't have this command on mac, I am looking for the mac equivalent of Namei.

[2022-03-03 13:51] bersace commented on #994
@ALidghi sorry, then can you use `ls -dl` ?

[2022-03-03 14:14] #668 closed

[2022-03-03 14:15] #670 closed

[2022-03-03 14:31] bsislow commented on #998
Thanks, it's just a bit misleading as UNDEF shows up immediately after CRIT and WARN on the overall dashboard and looks suspect even though we can ignore it apparently...

![image](https://user-images.githubusercontent.com/30243584/156585147-6086bb29-d627-4069-8e90-137419e29450.png)

[2022-03-03 16:17] daamien opened #999 "In temboard_agent.conf, the default value for `pg_ctl` is too old"
The temboard-agent.conf file contains a default value for the pg_ctl command path, this path points to a v9.4. Although the pg_ctl key is overridden in the auto.conf file (via auto_configure.sh), the temboard-agent.conf file should not mention a "random" version of PostgreSQL, comment the pg_ctl key in this file would certainly be preferable or indicate the correct version without commenting it ou

[2022-03-03 16:29] daamien opened #1000 "The docker quickstart should be more stable"
## Problem

*  The Quick Start demo is based on docker
*  The docker image (latest) is based on the master branch
*  The master branch will receive major changes during the 8.0 roadmap
*  Thus the Quick Start demo may be unstable

## Solution

* [x] Create a "v7" docker image based on the v7 branch
* [x] Update the documentation and docker compose to point to the v7 docker image
*  Later when v8 i

[2022-03-03 16:33] daamien commented on #979
@fahadshery We had an internal discussion about this request and decided that the BSD family is not a target for us.

Therefore we're closing this issue as a "WONT FIX"

Sorry about that.... Your other ticket (#978) remains open.

[2022-03-03 16:34] daamien commented on #632
closed internally

[2022-03-03 16:54] bersace commented on #998
Thanks, that's a good feedback on UX. We'll see what to do on this.

[2022-03-03 16:55] bersace commented on #994
Hi @ALidghi in git source tree, `entrypoint.sh` is copied as `docker-entrypoint.sh` in the Dockerfile. This is misleading, we should make this simpler.

[2022-03-04 09:28] ALidghi commented on #994
HI @bersace, should I modify the file name to entrypoint.sh ?

[2022-03-04 09:32] bersace commented on #994
@ALidghi yes and/or Dockerfile.

[2022-03-04 10:16] #1000 closed

[2022-03-07 09:00] ALidghi commented on #994
When I use the " wget https://raw.githubusercontent.com/dalibo/temboard/master/docker/docker-compose.yml
docker-compose up" command I still have the error :
" /usr/local/bin/docker-entrypoint.sh: line 75: /usr/bin/docker: No such file or directory
downloads-agent96-1     | ++ docker inspect --format '{{ .HostConfig.NetworkMode }}' c99427513772"

And when I download the repo on github manually, cha

[2022-03-07 09:07] bersace commented on #994
@ALidghi you are using the development docker-compose.yml. Quickstart compose is docker/docker-compose.yml

[2022-03-07 10:10] ALidghi commented on #994
Sorry, I used docker-compose up command from the docker folder this time, the UI works but I still don't have any instance. Here are my logs :

(base) ➜  docker docker-compose up
[+] Running 19/19
 ⠿ Network docker_default         Created

[2022-03-09 08:48] #1020 closed

[2022-03-13 14:23] wahyubudiman commented on #998
Hi @bersace , what unit for threshold streaming replication lag base on?

[2022-03-14 11:00] bersace commented on #998
@wahyubudiman sorry, I don't understand your question, can you elaborate ?

[2022-03-16 06:29] wahyubudiman commented on #998
hi @bersace ,
about the streaming replication lag threshold ,showing 2e+06 for warning threshold, i want to know 2e+06 in byte/minute unit or other unit size?
below the screenshot :
<img width="482" alt="image" src="https://user-images.githubusercontent.com/25844598/158529421-35970175-f93b-479c-9d78-17006c93419b.png">

[2022-03-24 08:51] lpofredc opened #1014 "Display application_name in activity table"
It would be interesting to display `application_name` value, if available, in activity table.

![Screenshot 2022-03-24 at 09-50-05 SRV-GEONATUREBDD lpo local 5432 - Activity _ Running queries](https://user-images.githubusercontent.com/22891423/159878284-e4f48cdd-16b0-4ba6-b2d3-56f346a7dbe0.png)

[2022-04-04 11:53] ced75 opened #1029 "Various error handling : pwd, NXDOMAIN"
Hi,

I have upgraded temboard-agent to v7.10 on two identical servers.
On the first one, no problem, and the swap overload caused by temboard is solved.

But on the second server, it does not dialog anymore with the temboard UI server.

When I try to perform a new registration:
[code]
I get the following error:
[code]

What can be wrong?

Thanks for your help,

Cedric

### Tasks

- [x] Handle File

[2022-04-08 08:50] ced75 commented on #1029
Bonjour,
Pourtant, le répertoire est toujours là: /var/lib/postgresql

[2022-04-08 09:15] bersace commented on #1029
Que retourne `sudo -u postgres pwd` ?

[2022-04-08 09:39] bersace commented on #998
It's in bytes. temBoard should show the units of this metrics. Marking as bug.

[2022-04-08 09:42] bersace commented on #998
Could you please open a new issue about unit in monitoring/alerting ?

[2022-04-08 11:56] daamien commented on #1014
good idea thanks !

[2022-04-08 18:40] ced75 commented on #1029
/home/admin

[2022-04-19 08:42] bersace commented on #1029
Que retourne `namei -om /home/admin` ? Pourquoi n'est-ce pas `/var/lib/postgresql` ?

[2022-04-21 16:36] bsislow opened #1031 "Seeing More Locking in Master temboard UI"
we're seeing strings of truncates waiting on other statements and so forth like such:

[code]

can i email you our postgres logs for review?

[2022-04-25 06:40] ced75 commented on #1029
La commande namei renvoie ceci:
f: /home/admin
 drwxr-xr-x root  root  /
 drwxr-xr-x root  root  home
 drwxr-xr-x admin admin admin

Pour répondre à la deuxième question, c'est la commande suivante qui renvoie bien /var/lib/postgresql:
`sudo -iu postgres pwd`

[2022-04-25 07:54] bersace commented on #1029
Avec DEBUG=y, quel est le contenu de `os.environ['PWD']` par exemple ?

[code]

[2022-04-25 07:55] bersace commented on #1031
Hi @bsislow ok for the logs. Can you share the version you are running ? Please send a copy to @daamien .

[2022-04-25 07:55] bersace commented on #1031
@bsislow can you remember me how many agent you have registered ?

[2022-04-25 08:07] ced75 commented on #1029
sudo: temboard-agent-register : commande introuvable

[2022-04-25 08:19] bersace commented on #1029
Je ne comprends plus rien. J'ai repris la commande initiale du ticket. Le simple ajout de DEBUG=y casse le PATH dans sudo ?

[2022-04-25 08:59] ced75 commented on #1029
Au temps pour moi!
La commande doit être lancée sur le serveur agent, pas sur le serveur central.
Voici ce que j'obtiens:
`2022-04-25 10:53:08,241 [14940] [app             ]  INFO: Starting temboard-agent-register 7.10.
2022-04-25 10:53:08,242 [14940] [app             ] DEBUG: Reading /etc/temboard-agent/12/main/temboard-agent.conf.
2022-04-25 10:53:08,258 [14940] [app             ] DEBUG: Reading

[2022-04-25 09:01] ced75 commented on #1029
Par contre, dans l'interface, j'ai toujours une erreur:

[Errno -2] Name or service not known

[2022-04-25 09:24] bersace commented on #1029
Ok, c'est déjà plus rassurant. Cette histoire de PWD inaccessible reste mystérieuses. Je me note d'ajouter un message explicite (cf description du ticket). Donc ne pas fermer ce ticket avant que le patch ne soit intégré.

As-tu plus de message dans les traces de l'UI ?

[2022-04-25 10:57] ced75 commented on #1029
Voici ce qui apparaît dans les traces de l'UI:

avril 25 12:34:42 inv-monitor env[17757]: Request failed: 500 [Errno -2] Name or service not known.
avril 25 12:34:42 inv-monitor env[17757]: 500 GET /server/inv-exp-Vm.ign.fr/2345/dashboard (192.168.147.202) 27.16ms
avril 25 12:34:45 inv-monitor env[17757]: Could not get response from https://inv-exp-Vm.ign.fr:2345/discover.
avril 25 12:34:45 inv-mo

[2022-04-25 11:04] ced75 commented on #1029
J'ai toujours le même message d'erreur: Name or service not known

[2022-04-26 07:07] bersace commented on #1029
Que disent les traces de l'agent ?

[2022-04-26 07:10] ced75 commented on #1029
Strictement rien: elles indiquent seulement que les différentes métriques sont collectées correctement.
Mais quand je tente la connexion dans l'UI, aucun message d'erreur ne s'affiche dans les traces de l'agent.

[2022-04-26 07:48] bersace commented on #1029
Sur quel port écoute l'agent ? S'il reste une autre configuration, `auto_configure.sh` configure sur le port suivant comme 2346.

[2022-04-26 07:53] ced75 commented on #1029
Il écoute sur le port par défaut, qui est 2345.
Côté UI, le port est également correctement renseigné (en tout cas cohérent avec le fichier auto.conf).

[2022-04-26 12:25] bersace commented on #1029
@ced75 ok, peux-tu m'envoyer les traces des l'agent depuis le démarrage ?

[2022-04-26 12:26] bersace commented on #1029
@ced75 que donne `getent hosts inv-exp-Vm.ign.fr` sur la machine de l'UI ?

[2022-04-26 13:08] bsislow commented on #1031
Emailed you both.

There are 46 agents.

[2022-04-27 05:35] ced75 commented on #1029
Le getent ne renvoie rien...
Pour le fichier traces, où est-ce que je peux le déposer ?
Encore merci pour l'aide

[2022-04-27 06:11] ced75 commented on #1029
OK, c'est bien un problème de résolution de nom d'hôte depuis l'UI.
En créant une nouvelle instance dans l'UI et en renseignant l'IP de la machine plutôt que son nom, ça fonctionne.
Je vais supprimer l'instance défectueuse dans l'UI et garder celle avec l'IP.

C'est toujours le problème avec les VM et leurs noms réels...

[2022-04-27 06:30] bersace commented on #1029
Ok, j'ajoute des tâches pour gérer plus explicitement ce genre de cas.

[2022-04-27 06:32] ced75 commented on #1029
Super!
Encore merci pour le temps passé à m'aider.

[2022-05-04 08:21] MakarovDmitri commented on #899
Hi!
I updated to version 7.10. Launched on a clean database (PostgreSQL 14.2). The "statements_purge(_ndays integer)" function deletes data only from the "statements_history" table, but does not affect the data from the "statements" table and the table grows anyway (toast occupies 90% of the total volume).

What other information can I provide?

 INFO: Starting temboard 7.10.
temBoard 7.10
System

[2022-05-13 09:01] bersace commented on #876
Fixed in master.

[2022-05-13 09:01] #876 closed

[2022-05-13 09:02] bersace commented on #899
I confirm the bug. A fix is available at #1037

[2022-05-18 09:02] MakarovDmitri opened #1041 "Hide header API"
Hello! Please help me with the following question. I need to hide the python version in the http header when calling an API. How can I do that.
![image](https://user-images.githubusercontent.com/90038400/169001095-d4a33da9-aa8d-4109-9383-28e5d2545fd7.jpg)

[2022-05-18 09:10] bersace commented on #1041
Hi @MakarovDmitri , it's not configurable for now. We'll take an eye on this feature request.

[2022-05-18 10:27] dgiffin opened #1042 "temboard agent replication query has syntax error"
I've notices this in the PG logs on repmgr standby database:

2022-05-18 00:00:18 UTC [285150]: [1-1] user=temboard,db=postgres,app=temboard-agent,client=[local] ERROR:  syntax error at or near "CASE" at character 52
2022-05-18 00:00:18 UTC [285150]: [2-1] user=temboard,db=postgres,app=temboard-agent,client=[local] STATEMENT:  SELECT 'redacted-host-name' AS upstream
        CASE WHEN COUNT(*) > 0

[2022-05-18 12:08] bersace commented on #1041
Reopening to consider the need.

[2022-05-18 12:09] bersace commented on #1042
Yes, it's fixed in 7.11 we're about to release

[2022-05-20 06:18] wsescu opened #1046 "ERROR: could not obtain lock on relation "metric_temp_files_size_delta_current""
Dear temBoard support team

I do get every 3h the following ERROR:

[code]

I am running temBoard version 7.11

[code]

Would be cool, if you could help me to fix that issue.

Cheers
William

[2022-05-20 06:42] bersace commented on #1046
Hi @wsescu , thanks for the report.

I think it's a duplicate of #1031 .

I guess that history_tables background task is locking _current tables for too long. Blocking collect of metrics. temBoard should know how to collect the missing metrics once history_tables has ended.

Do you see a hole in graph at these dates ?

[2022-05-20 06:46] bersace commented on #1046
@wsescu @bsislow can you confirm this is the same issue ? The logs are a bit different but looks very similar. If you're ok, let's continue the discussion on #1031.

[2022-05-20 06:53] wsescu commented on #1046
Dear @bersace

since the upgrade of temBoard to version 7.9 in January 2022, I do not see any history information for any instance.
e.g. if I select a 1 year time frame.

Don't know if this is related to the locking issue.

![image](https://user-images.githubusercontent.com/54099545/169470087-952dd259-368f-4398-a376-b9f1f3b1009b.png)

Cheers, William

[2022-05-20 07:25] daamien commented on #1042
https://github.com/dalibo/temboard/releases/tag/7.11

[2022-05-20 07:25] #1042 closed

[2022-05-20 13:23] bsislow commented on #1046
Yes, this looks similar. If I look back a couple of weeks I see the issue intermittently in our Postgres logs:

[code]

[2022-06-01 09:50] ccavallie opened #1056 "Problem when launching the docker image"
Hello,
After installing the img docker V7 then the last version :
I have this message when launching the docker compose:
$ docker-compose up
Pulling repository (postgres:13)...
ERROR: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

[2022-06-01 09:58] bersace commented on #1056
Hi @ccavallie this is a docker issue, not temboard. Your system times out while downloading Docker image for Postgres from Docker Hub. Please check your connection and retry.

[2022-06-01 12:12] bersace commented on #1056
You're welcome.

[2022-06-11 12:43] decadenet opened #1065 "Temboard service Permission denied"
Hi,

After installing temboard on Debian and starting the service, and going to temboard web UI (port 8888)  I receive an ERR_TIMED_OUT.
the command "systemctl status temboard" command showed this error :

temboard.service - temBoard Web UI
     Loaded: loaded (/lib/systemd/system/temboard.service; enabled; vendor preset: enabled)
     Active: active (running) since Sat 2022-06-11 14:36:00 CEST; 1

[2022-06-13 12:01] daamien commented on #999
Closing it here, will be treated internally

[2022-06-13 12:01] #999 closed

[2022-06-13 12:19] daamien opened #1067 "Transform error "Invalid FQDN" into a simple warning"

[2022-06-14 12:16] bersace commented on #1065
Hi @decadenet , thanks for reaching.

It looks like your SSL files are not accessible from `temboard` unix user. What's the output of : `sudo -u temboard namei -om *PATH-TO-SSL-FILES*` ?

temBoard should show a clean error instead of a traceback.

[2022-06-20 09:24] dgiffin opened #1074 "Deleted database nor in the UI but data exists in the repository"
We seem to have a database that was been "deleted" - it doesn't appear in the UI **but** there does appear to be data in the repository database for it - is there a way to remove all data for a host & instance from the repository database via plsql to tidy this up?

[2022-06-20 09:36] dgiffin opened #1075 "Upgrade steps 7.10 to 7.11?"
I can't see the upgrade steps on readthedocs for 7.10 to 7.11 for the temboard UI and the temboard-agent - what do I need to know?

[2022-06-21 09:37] wsescu commented on #1075
Dear @dgiffin

in the following blog I have documented the way I used to upgrade to 7.11.

https://ptdb.ch/2022/05/21/postgresql-temboard-version-7-11-released-with-huge-performance-boost/

Cheers
William

[2022-06-22 08:31] dgiffin commented on #1075
Thanks William, just what I was looking for.

[2022-06-23 06:40] bersace commented on #1075
Hi,

@dgiffin thanks for the report. I'll update the upgrade documentation to fix the miss.

@wsescu your article is awesome, thanks !

The upgrade from 7.9 to 7.10 and 7.11 is pretty straightforward : stop, update, restart. PR comming soon.

Regards,
Étienne

[2022-06-23 06:46] bersace commented on #1074
Hi @dgiffin . temBoard can purge data if you set `[monitoring] purge_after` setting in temBoard configuration.

Do you have *No purge policy, end.* message in your logs ?

[2022-06-23 08:59] dgiffin commented on #1074
You mean in the temboard.conf file? I don't have a [monitoring] section.

In the temboard logs all I can find are entries like this:

2022-06-22 13:49:04,684 temboardui[5132]: [statements] INFO: Old statements purged successfully.

[2022-06-23 09:00] dgiffin commented on #1075
Thanks! We want to go to 8 when it's GA but 7.11 gives us good improvements now ;-)

[2022-06-23 12:01] bersace commented on #1074
Yes, I mean in temboard.conf or temboard.conf.d/

[2022-06-24 08:34] Krysztophe opened #1077 "Export history"
It would be useful to be able to export the history and reimport it. Use cases:
  * merge different installations
  * reinstall
  * recover from a borked temboard

[2022-06-24 09:18] dgiffin commented on #1074
Yup - no [monitoring] section in /etc/temboard/temboard.conf

[2022-06-27 09:15] bersace commented on #1074
Ok, set this in temboard configuration:

[code]

Put it in /etc/temboard/temboard.conf.d/monitoring.conf and restart temBoard.

[2022-06-28 08:10] dgiffin commented on #1074
Ok, done - and this should eventually remove the entries from (say) monitoring.metric_db_size_history etc?

[2022-06-28 08:15] bersace commented on #1074
Yes, for all instances, all data older than 180 days will be removed.

[2022-06-29 06:45] dgiffin commented on #1074
Ok, I set this yesterday:

cat /etc/temboard/temboard.conf
<CUT>
[monitoring]
purge_after = 30

But if I check the repository I am seeing much older data than 30 days:

temboard=# select history_range from monitoring.metric_db_size_history where instance_id=16 order by 1 asc limit 10;
                           history_range
-------------------------------------------------------------------
 ["20

[2022-06-29 06:48] bersace commented on #1074
Can you share debug log output ?

[2022-06-30 08:08] dgiffin commented on #1074
I've just set the log level to DEBUG - how long do you want me to leave that running before I send you the log? overnight?

[2022-06-30 10:13] bersace commented on #1074
Hi @dgiffin , the purge task is scheduled every 24h.

[2022-07-01 05:33] dgiffin commented on #1074
Log files for the last day attached.
[temboard.log-20220701.gz](https://github.com/dalibo/temboard/files/9025649/temboard.log-20220701.gz)
[temboard.log-20220630.gz](https://github.com/dalibo/temboard/files/9025650/temboard.log-20220630.gz)

[2022-07-06 06:18] bersace commented on #1075
Done. https://temboard.readthedocs.io/en/v7/server_upgrade/#upgrade-79-or-710-to-711

[2022-07-06 06:18] #1075 closed

[2022-07-06 09:00] dgiffin commented on #1075
No repository upgrade? awesome, thank you!

[2022-07-06 09:12] bersace commented on #1075
the commit is here : https://github.com/dalibo/temboard/commit/30ca1fa6cc96c65af7ee2ec5b59fd908c5b42320

[2022-07-06 15:00] daamien commented on #1065
Hi @decadenet

Any news on this ?

[2022-07-08 06:39] dgiffin commented on #1074
Any thoughts?

[2022-07-08 06:50] bersace commented on #1074
Hi @dgiffin, sorry for the delay.

[code]

It looks like you're not running 7.11.

Can you share `temboard --version` output ?

[2022-07-12 05:49] bersace commented on #1074
Please upgrade to 7.11, it has a fix regarding purge.

[2022-07-12 08:48] #997 closed

[2022-07-12 09:56] daamien commented on #1041
Fixed by the Bottle MR https://github.com/dalibo/temboard/pull/1079

[2022-07-12 09:56] #1041 closed

[2022-07-12 10:00] daamien commented on #1019
@xroman70  This issue has been inactive for several weeks. Unless you can provide new elements to the discussion, we will close it in a few days.

[2022-07-12 10:08] daamien commented on #777
This issue has been inactive for several weeks. Unless you can provide new elements to the discussion, we will close it in a few days.

[2022-07-12 10:10] #978 closed

[2022-07-12 10:16] daamien commented on #952
This issue has been inactive for several weeks. Unless you can provide new elements to the discussion, we will close it in a few days.

FTR Temboard 7.11 was published a few weeks ago.

[2022-07-12 10:31] daamien commented on #299
this will be closed by https://github.com/dalibo/temboard/issues/955

[2022-07-12 10:31] #299 closed

[2022-07-22 05:48] #1074 closed

[2022-08-30 11:29] JeromeK13 opened #1116 "No notification when Agent is not reachable"
Hey Guys

We have tested temboard and saw that we dont receive a notification when the agent is not reachable from the Server.
Is there a way to configure this or a planed feature?

Greetings
Jerome

[2022-09-01 08:42] daamien commented on #1116
Hi @JeromeK13 !

Thanks for your feedback, this is really valuable for us.

Can you give more details about what you expect ? Do you want an external notification (for instance an email ) or a message inside the application ?

[2022-09-01 09:22] JeromeK13 commented on #1116
Hey @daamien

We would expect an Mail, to the notification group Mail when the agent is no longer reachable.
Currently there is only this information available when clicked into the dashboard of the agent
![image](https://user-images.githubusercontent.com/28542882/187879270-1ca02d62-3ee7-4b18-9baa-f4effd39476c.png)

Also in our opinion when the agent is not reachable this is a critical error, and

[2022-09-09 14:05] bsislow opened #1123 "how to batch modify a threshold?"
we have 48 instances in our postgres farm for a given region.

it's painful to go through each instance and modify the threshold for a given check for each one.

how do we modify the check in all instances at once using DML?

for example, show me how to modify the check `BTree index bloat ratio estimation` across the board.

thank you.

[2022-09-15 13:05] #1014 closed

[2022-09-26 12:49] bsislow opened #1150 "OOM Issue for Activity Page in Chrome"
we have a busy instance (regularly ~1300 TPS; INSERT-heavy) where we occasionally see the following in Chrome on the _Activity_ tab/page:

![image](https://user-images.githubusercontent.com/30243584/192280320-f6db2570-b7b9-4a9a-a439-3ebe27ee7486.png)

reloading the page fixes the issue for some time and then it recurs eventually if the page is left open.

temboard and temboard agent logs don't ind

[2022-09-26 13:22] bersace commented on #1150
Hi @bsislow , thanks for the feedback ! You may workaround this by pausing the autorefresh. Just hover the rows or check a row to pause auto-refresh. In the mean time, we'll review this page to improve this.

[2022-09-28 11:45] vidierr opened #1156 "Change temboard UI port"
Hello,

I would like to change de temboard UI port from 8888 to 80.
When i change the port in the config file (/etc/temboard/temboard.conf) and start it i have an issue :

Sep 28 13:41:31 env[35394]: Starting scheduler.
Sep 28 13:41:31 env[35389]: FATAL: [Errno 13] Permission denied. Quit
Sep 28 13:41:31 env[35393]: worker pool terminated.
Sep 28 13:41:31 systemd[1]: temboard.service: Main process

[2022-09-28 13:23] bersace commented on #1156
Hi @vidierr , You must be root to bind a port below 1000. I strongly discourage you to run temBoard as root. Also, you should use 443 port since temBoard serves HTTPS. But port 443 is also reserved to root.

You can request (here) the feature of listening port 443 in temBoard UI.

[2022-09-28 14:16] vidierr commented on #1156
I think it could be a good feature.

[2022-09-29 07:14] bersace commented on #1156
Thanks for sharing the workaround. A good solution would be for temBoard to integrate with systemd socket activation.

[2022-09-29 08:49] vidierr commented on #1156
Is that need some developpements or only to modify the systemd service ?

[2022-09-29 09:07] bersace commented on #1156
This requires development to reuse systemd file descriptor to setup Tornado HTTPS socket. This should add a new dependency to python-systemd.

[2022-10-05 15:32] bsislow commented on #1150
thank you!

[2022-10-17 07:40] bersace commented on #1150
Hi @bsislow . temBoard 8 will have activity limited to 300 longest queries to mitigate this issue. I've post poned reviewing the interface. I you have some hint or advice, please share . Regards.

[2022-10-17 14:43] bersace commented on #899
Fixed released. Thanks for the report !

[2022-10-17 14:43] #899 closed

[2022-10-17 14:43] bersace commented on #33
v8 has `temboard query-agent`. closing.

[2022-10-17 14:43] #33 closed

[2022-10-17 14:45] bersace commented on #311
Mostly improved. Closing.

[2022-10-17 14:45] #311 closed

[2022-10-17 14:45] bersace commented on #672
Done. To be released soon.

[2022-10-17 14:45] #672 closed

[2022-10-17 14:46] bersace commented on #665
Unified authentication may challenge this feature request. Only UI is now concerned. Is this the actual feature request ?

[2022-10-17 14:47] bersace commented on #676
temBoard 8 is dropping authentication using shared secret. Closing.

[2022-10-17 14:48] bersace commented on #1017
Done. https://github.com/dalibo/temboard/blob/master/ui/temboardui/toolkit/queries.py

[2022-10-17 14:48] #1017 closed

[2022-10-17 14:49] bersace commented on #693
temBoard 8 doesn't have users management on agent side. This issue is not relevant anymore.

[2022-10-17 14:49] #693 closed

[2022-10-17 14:49] bersace commented on #724
To be released in 8.

[2022-10-17 14:49] #724 closed

[2022-10-17 14:54] bersace commented on #955
To be released.

[2022-10-17 14:54] #955 closed

[2022-10-17 15:21] seuf commented on #665
I think it was.. This issue was created in 2019.. Don't use temboard anymore..

[2022-10-17 15:29] Krysztophe commented on #672
thanks !

[2022-10-17 15:59] #1029 closed

[2022-10-17 15:59] #927 closed

[2022-10-17 16:42] #1065 closed

[2022-11-16 18:56] vaibhavpandey-bista opened #1180 "Temboard agent unable to request public key from server."
We updated ssl cert for our server.
Since then while auto configuring temboard agent, it suggests us to fetch UI signing key using
`sudo -u postgres temboard-agent -c /etc/temboard-agent/11/main/temboard-agent.conf fetch-key`

and when we run this command, it gives us this:
[code]

[2022-11-17 09:30] HapipHaekal opened #1181 "FATAL: connection to server on socket "/var/run/postgresql/.s.PGSQL.5432" failed: FATAL: Peer authentication failed for user "postgres""
Hello

I am using postgresql 15 as a repository and after installing temboard 8 there is a problem that is it fails to connect to the database.

I tried to call the script _auto_configure.sh_ there is an error :

I checked my postgresql is still running with no problem.

Thanks

[2022-11-18 09:05] wsescu opened #1182 "Download inventory as CSV - not working as expected"
Dear Dalibo Support

the Download inventory as CSV is not working as expected (temBoard version 8.0).

I found 3 issues. The first one is, that the PGDATA field in the csv file is always empty.

Hostname;Port;PGDATA;Version;Groups;Agent Address;Agent Port;Plugins
"host01";"56001";;"""PostgreSQL 14.4""";"entw";"host01";"44001";"activity,dashboard,maintenance,monitoring,pgconf,statements"

The secon

[2022-11-18 12:33] ced75 opened #1183 "Temboard-agent upgrade to 8.0 issue"
Hi,

I'm facing an error during temboard-agent upgrade to version 8.0.
The temboard server upgraded without any problem.
But for the agent, it is a little bit more difficult...

According to [the documentation](https://temboard.readthedocs.io/en/latest/agent_upgrade/#from-711-to-80), the configuration file has to be updated.
In my case (coming from an old install of the first versions of Temboard,

[2022-11-23 07:30] ced75 commented on #1183
Hi,

That did it, but I also had to copy signing-public.pem file from /etc/temboard-agent/12/main/temboard-agent.conf.d/ to /etc/temboard-agent/12/main/ to restart the service.

Thanks for the help.

[2022-11-23 07:30] #1183 closed

[2022-11-23 17:02] robinportigliatti commented on #1067
When will this be available ?

[2022-11-24 13:48] vidierr commented on #1182
Hello Wsescu,
I don't have the third issue. I limit whith the search field and export only theses instances, not all.
I make a pull request for correct the two others issues.

Have a good day,

[2022-11-28 07:39] HapipHaekal opened #1185 "Fetch UI signing key"
Dear Dalibo

I got a problem when I sudo -u postgres temboard-agent -c /etc/temboard-agent/13/main/temboard-agent.conf fetch-key

The problem is like this:
[code]

[2022-11-28 08:51] pirlgon commented on #1185
It looks like the agent server is not allowed to access the UI server. Did you allow it in the firewall? Is there a running UI at https://10.10.10.10:8888 ?

[2022-11-28 09:21] HapipHaekal commented on #1185
There is no firewall running

[2022-11-28 11:13] vidierr commented on #1185
Does the temboard server is running ?
I had the same error but it was the temboard server was'nt running.

[2022-11-28 16:27] HapipHaekal commented on #1185
Yes, the temboard server is running

I already checked _systemctl status temboard_ :
[code]